.gaf-btn{
    /* margin-left: 3em; */
    width: 87%;
}
.service-btn{
    /* border: 1px black solid; */
    width: 95%;
    margin-top:0.2em 
}
.unit-btn{
    width: 87%;
}
.arrow-drop{
    right: 3%;
    top: 0.5%;
}

.arrow{
    border-radius: 50px;
    transition: background-color .5s;
    position: absolute;
    top: 30%;
    left: 6%;
}
.arrow:hover{
    opacity: 0.7;
    background-color: #b1b6b9;
}
.avatar{
    left: 45%;
}
.settings{
    margin-right: 25%;
    margin-top: 33%;
}
.hebrew-text{
    text-align: initial;
}