#buildIcon {
    color: grey;
    font-size: calc(2.1vw + 45px);
}

.failed-build-text {
    color: #B61212;
}

.success-build-text {
    color: #37BC37;
}

#buildsStatusTitle {
    margin: 1% 0;
}

#serviceNumDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#servicesNum {
    font-size: calc(17px + 0.5vw);
    color: #707070;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 1% 2%;
}