
.labelcell{
    font-size:140% !important;
    font-family: "Calibri";
    text-align: center !important;
    padding-left: 5% !important;
}

.hourcell{
    font-size:140% !important;
    font-family: "Calibri";
    text-align: right !important;
}

#tablePaper {
    height: 100%;
    direction: rtl;
    text-align: center;
    overflow: auto;
    width: 100%;
}

.background-radius {
    border-radius: 12px;
    width: max-content;
    padding: 0% 7%;
    font-size: calc(1vw + 8px);
    margin: 1% 3%;
}

@media only screen and (max-width: 1279px) {
    .labelcell {
        font-size: 100% 
    }

    TableCell {
        flex-basis: 10%;
    }


}