.widget {
    height: 85%;
    width: 32%;
    margin: 2.5% 8%;
}

#testsPaper {
    height: 100%;
    width: 100%;
    display: flex;
}

#bugsPaper {
    width: 100%;
    height: 100%;
}
#codeCoverage {
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: center;
}
#qaPageContainer {
    justify-content: space-between;
}
h3 {
    display: inline-block;
    font-size: 1.5rem;
}
#codeCoverageLegend {
    direction: rtl;
    display: flex;
    width: 100%;
    height: 30%;
    align-items: flex-end;
    font-size: 2rem;
}
canvas {
    z-index: 3 !important;
}
#centerGrid {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
#mainChart {
    width: 100%;
    display: flex;
    justify-content: center;
}
div.chart-legend {
    height: 2.5rem;
    width: 9.5%;
}
div.chart-legend-color-desc-container {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 2%;
    align-items: flex-end;
}
div.chart-legend-label-text {
    padding-right: 2%;
    padding-bottom: 1.5%;
    font-size: 2.5rem;
}

@media only screen and (min-width: 1460px) {
    div.canvasParentDiv {
        width: 19vw !important;
    }
}

@media only screen and (max-width: 1460px) {
    div.canvasParentDiv {
        width: 20vw !important;
    }
}
@media only screen and (max-width: 1279px) {
    #qa {
        height: fit-content;
        margin-bottom: 2rem;
    }
    #testsGridContainer{
        padding-bottom: 2rem;
    }
    #bugsGrid{
        margin-left: auto;
        margin-right: auto;
    }
    div.canvasParentDiv {
        width: 23vw !important;
    }
}

@media only screen and (max-width: 1279px) and (min-width: 960px) {
    #bugsChartContainer {
        height: 60vh !important;
        width: 20vw !important
    }
}

@media only screen and (max-width: 960px) and (min-width: 600px) {
    #bugsChartContainer {
        height: 60vh !important;
        width: 30vw !important
    }
}
@media only screen and (max-width: 600px) {
    #bugsChartContainer {
        height: 60vh !important;
        width: 60vw !important
    }
}


@media only screen and (max-width: 960px) {
    #testsPaper {
        flex-direction: column;
    }
    div.canvasParentDiv {
        width: 30vw !important;
    }
}

@media only screen and (max-width: 850px) {
    #testsPaper {
        flex-direction: column;
    }
    div.canvasParentDiv {
        width: 40vw !important;
    }
}

@media only screen and (max-width: 700px) {
    div.canvasParentDiv {
        width: 50vw !important;
    }
}

@media only screen and (max-width: 550px) {
    div.canvasParentDiv {
        width: 60vw !important;
    }
}

@media only screen and (max-width: 550px) {
    div.canvasParentDiv {
        width: 70vw !important;
    }
}

@media only screen and (max-width: 350px) {
    div.canvasParentDiv {
        width: 80vw !important;
    }
}



