.add-service-btn{
    position: absolute !important;
    bottom: 3%;
    left: 37%;
}
#buttonsContainer {
    display: flex;
    direction: ltr;
}

.input-style{
    margin: "0 16px";
    width: "80%";
}

.FirstPageNevigateStepper{
    direction: rtl;
    margin-left: 35%;
}

.SecondPageNevigateStepper{
    direction: rtl;
    margin-left: 30%;
}
