#serviceDataRow{
    max-width: 100%;
    max-height: 100%;
    height: 100%;
}
#ServiceRowGridContainer{
    max-width: 100%;
    height: 100%;
    justify-content: space-between;
}
.developmentComponentsConnector{
    flex-grow: 1;
    width: 2%;
    height: 3%;
    background-color: #000030;
}
.servicePaper{
    width: 100%;
    height: 100%;
    box-shadow: none !important;
    border-radius: 15px !important;
    /* background-color: blue !important; */
}
.serviceDiv{
    width: 100% !important;
    height: 100% !important;
}
.connectorContainer {
    display: flex;
    flex-direction: row;
    padding-top: 76px;
    height: 100%;
}