#BuildPaper,#BuildCard, #action, .latestResult, #content {
    height: 100%;  
    width: 100%; 
    padding: 0%;
}

.height {
    height: 100%;
}

#lastBuildDetailsContainer{
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;

}

.item {
    padding-left: 5%;
    padding-top: 2%;
    padding-right: 1.5%;
    padding-bottom: 0%; 
}

#buildResult {
    padding: 0% 1%;
    height: 110%;
    width: 4.6%;
}

#buildDate, #builderName {
    display: flex;
    align-self:flex-end;
}
#previous {
    width: 10%;
    height: 18%;
    flex-basis: 12%;
    align-self: flex-end;
}

#previousBuilds {
    padding-bottom: 2%;
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#testingTitle {
    padding-bottom: 1%;
    display: flex;    
}

#resultsTitle {
    padding-bottom: 1%;
    padding-left: 1.5%;
    display: flex;
}
#unitTestsNumber {
    padding-bottom: 1%;
    padding-right: 1%; 
    display: flex;
    justify-content: flex-end;
}
#latestResultsLabel, #testingLabel, #unitTestsNumberLabel {
    align-self: flex-end;
    align-items: flex-start;
    font-family: "Calibri";
    font-size: 120%;
    color: #707070;
}