#BugPaper, #CriticalBug, #action, #content {
    height: 100%; 
    max-height: 100%; 
    width: 100%; 
    padding: 0%;
    margin: 0%;
    max-width: 100%;
    border-radius: 17px;
    box-shadow: none;
}

#BugContent {
    background-color: #F9A4A4;
    direction: rtl;
    padding: 2.5% 3%;
    width: 94%;
    height: 94%;
}


#bugRedTitle {
    background-color: #F35B5B;
    width: fit-content;
    color: white;
    padding: 0% 3%;
    border-radius: 20px;
}

#bugDesc {
    width: 100%;
    max-width: 100%; 
    padding-top: 2%;
}

#bugRedTitleType {
    font-size: calc(13px + 0.5vw);
    font-weight: lighter;
    font-family: "Calibri";
    color: white; 
    width:100%;
}

#bugDescType {
    font-size: calc(13px + 0.5vw);
    font-family: "Calibri";
    color: white;
    width: 100%;
    padding-top: 0.1%;
}

