#bugsStatusWidgetContainer {
 align-items: flex-start;
 height: 100%;
 width: 100%;
 justify-content: flex-start;    
}

@media only screen and (min-width: 2000px) { 
    #bugsStatusWidgetContainer {
        padding-top: 5rem;
        padding-right: 2rem;
    }

}

.statusLabel {
    color: #707070 !important;
    font-size:calc(10px + 0.5vw) !important;
    
}
@media only screen and (max-width: 1765px) and (min-width: 1280px) { 
    .statusLabel {
        font-size:calc(7px + 0.5vw) !important;
    }

}

@media only screen and (max-width: 355px) { 
    .statusLabel {
        font-size:calc(9px + 0.5vw) !important;
    }

}
@media only screen and (max-width: 320px) { 
    .statusLabel {
        font-size:calc(8px + 0.5vw) !important;
    }

}
