.addServiceButton {
  border: black !important;
  border-style: solid !important;
}

.textField {
  max-width: 50%;
}

.selectField {
  margin-top: 5%;
  width: 100%;
}

.sendButton {
  float: left;
  margin-top: 6% !important;
}

.addServiceFromTitle {
  padding: 5px;
  font-size: calc(12px + 0.4vw);
  color: black;
  font-family: "Calibri";
  margin-block-start: 0;
  margin-block-end: 0;
}

.dialogTitle {
  text-align: center !important;
}

.selectTitle{
    margin-top: 14%;
    width: 106%;
}

.buttonConnectorLine{
    display: inline-block;
    flex: 1;
    margin-top: auto;
    margin-bottom: auto;
    height: 3px;
    background-color: #000030;
}