.stepConnector {
    border-style: solid;
    border-color: #bdbdbd;
    top: 33% !important; 
    margin-left:-2.5%;
    margin-right: -2.5%;
    direction:rtl;
}

#processStepperRoot {
    height: 100%;
    width: 100%;
    background-color:white;
    direction: rtl;
 }

#processStepper {
    padding: 0%;
    height: 100%;
}

.labelStyle {
    margin-top: 3% !important;
    font-family: "Calibri" !important;
}
.CircleIcon:hover div {
    box-shadow: 0 0.5vh 1.2vh 0 rgba(0, 0,0,.25);
}
@media only screen and (min-width:2000px) {
    .stepConnector {
        top: 40% !important; 
    }
  }