#topPageSticky {
    position: sticky;
    z-index: 4;
    top: 0;
    flex-direction: column;
    display: flex;
    height: 13vh;
}

#breadCrumbs {
    width: 100%;
    top:0;
    display: block;
}

#progressBar {
    height: 8vh ;
    display: flex;
    flex-direction: row;
    flex: 1;
}

#progressBar>#menuAfterScroll {
    background-color: white;
    border-radius: 0;
    flex: 1;
}

#progressBar>#menuAfterScroll>#progressHamburger {
    margin-top: 20%;
    display: none;
}

.progressHamburgerAfterScroll {
    display: block !important;
}

#progressBar>#processDiv {
    width:100%;
}
#gafInfoPage .inner.one {
    border-bottom: 3px solid #44AEFF !important;
}
  
#gafInfoPage .inner.two {
    border-right: 3px solid #44AEFF !important; 
}

#gafInfoPage .inner.three {
    border-top: 3px solid #44AEFF !important;
  }
/* The big page */

#isLoadingDiv {
    width: 3%;
    height: 100%;
    display: flex;
    padding: 18% 48.5%;
    align-content: center;
    background-color: white;
}


#mainContent {
    height: 100%;
}

/* Css for each part of the page individually  */
.pageContent {
    padding-top: 0%;
    height: 97vh;
}

.tabPage {
    height: 100%;
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 1279px) {
    #summary, #management {
        height: max-content !important; 
    }
}


.widgetsSection {
    height: 92%;
    margin: 1.5% 0;
    padding: 2% 3%;
    justify-content: space-between;
    align-self: center
}

    /* Css for each widget individually */
    .widgetPaper {
        height: 100%;
        direction: rtl;
        border-radius: 25px !important;
    }

    .titlePaper {
        height: 100%;
        width: 100%;
        direction: rtl;
        border-radius: 10px !important;
    }

    #title{
        display: flex;
    }

    .widgetDiv {
        padding: 0.5% 1rem;
        height: 100%;
    }

    .widgetTitle {
        padding: 2px;
        font-size: calc(12px + 1.1vw);
        color: black;
        font-family: "Calibri";
        margin-block-start: 0;
        margin-block-end: 0;
    }

    .widgetTitle-small {
        padding: 5px;
        font-size: calc(12px + 0.8vw);
        color: black;
        font-family: "Calibri";
        margin-block-start: 0;
        margin-block-end: 0;
    }

    .widget-body-div {
        margin-top: 5%;
        margin-bottom: 5%;
        display: flex;
        overflow: hidden;
        justify-content: space-around;
        height: 80%;
    } 

/* Back to the top arrow */
#fab {
    float: right;
    position: fixed;
    bottom: 4%;
    right: 1%;
    z-index: 99;
    color:floralwhite;
}

@media only screen and (max-width: 1279px) {
    #progressBar{
     display:none ;
     }
    #breadCrumbs{
        height: 90%;
     }
 }