#serviceName{
    font-family: 'Calibri';
    font-size: 130%;
    color: #707070;
    font-style: normal;
    max-width: 100%;
    padding: 5% 5% 5% 0%;
    font-size-adjust: 0.58;
}

#serviceName p {
    max-width: auto;
    text-align: center;
}