.card-head {
    font-family:'Calibri-light';
    color: #0099e6;
    font-size: calc(1vw + 12px);
}

.card-body {
    font-family:'Calibri-light';
    color: #0099e6;
    line-height: 200%;
    padding: 3%;
    padding-top: 0%;
    font-size: calc(0.6vw + 10px);
    font-weight: 700;
    white-space: normal;
}

.Card {
  width: 90%; 
  min-height: 23rem;
  background: #fff;
  text-align: center;
  box-shadow: 0 14px 26px rgba(0,0,0,0.04);
  border-top-right-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-out;
  text-decoration: none;
}

.Card:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0,0,0,0.11),
    0 24px 46px var(--box-shadow-color);
}

@media only screen and (max-width: 960px) {
  .Card {
    margin-left: 1rem;
    width:inherit;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .Card {
    margin-left: 1rem;
    width:inherit;
    min-height: 19rem;
  }
}

@media only screen and (min-width: 2175px) {
  .Card {
    min-height: 31rem;
  }
}

.img {
  display: block;
  height: 40%;
  width: 70%; 
  border-radius: 60%;
  margin-left: 20.5%;
}

.logo {
  height: 100%;
  width: 100%;
  margin-left: 0;
}


