
.userInfoGrid {
    max-width: 100% !important;
    max-height: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
}

.lastPullRequestUserIcon {
    color: #314063;
    font-size: 29px;

}
.pullRequestDataContainer {
    height: fit-content;
    align-self: baseline;
    max-width: 100%;
    width: 100%;
}
.pullRequestSourceBranch {
    align-self: center;
    height: 100%;
    padding-left: 1rem;
}
#dateGrid {
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 5%;
    padding-top: 1%;
}
#pullRequestsTitle{
    padding-top: 12%;
    padding-right: 1%;
    font-size: larger;
    max-width: 100%;
    width:100%;
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
}

.pullRequestCreator{
    color: #314063;
    padding-top: 1%;
    padding-right: 1%;
    font-size: large;
    max-width: 100%;
    width:max-content;
    text-align: right;
}

#lastPullRequestdate {
    padding-top: 30% !important;
    padding-left: 1% !important;
    max-width: 100%;
}
#lastPullRequestSourceBranch  {
    padding-top: 5%;
    text-align: center;
}
#lastPullRequestTargetBranch{
    text-align: center;
}
#messageIcon {
    font-size: 45px;
}