
#developmentPageContentContainer {
    align-items: flex-start;
    justify-content: flex-start;
    overflow-x: auto !important;
    
}

#developmentPageTitlesContainer {
    max-width: 100%;
    justify-content: space-between;
    padding-bottom: 1.5%;
    flex-direction: row-reverse;
}

#DevelopmentRowsGridList {
    display: block;
    flex-wrap: wrap;
    justify-content: space-around;
    width:100%;
}

@media only screen and (max-width: 1279px) {
    #developmentPageContentContainer {
        direction: rtl;
    }
    #ServicesInfoContainer, #developmentPageTitlesContainer {
        max-width: 1300px !important;
        width: 1200px !important;
        overflow-x: auto;
        direction: initial;
    }
}

#gridListTile{
    padding-bottom: 15px !important;
}

#ServicesInfoContainer {
    max-width: 100%;
    overflow-y: auto;
}

.add-service-form{
direction: rtl;
padding: 0.1% !important;
width: auto !important;
height: auto !important;
margin-bottom: 0.3%;
}