#userInfoGrid {
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
    padding-top: 1%;
}
#lastComitterUserIcon {
    color: #6A7AA2;
    font-size: 29px;

}
#dateGrid {
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 5%;
    padding-top: 1%;
}
#lastCommiterName{
    color: #6A7AA2;
    padding-top: 2.5%;
    padding-right: 1%;
    font-size: large;
    max-width: 100%;
    width:100%;
    text-align: right;
}
#lastCommitdate {
    padding-top: 30% !important;
    padding-left: 1% !important;
    max-width: 100%;
}
#lastCommitMessageIcon {
    color: #6A7AA2;
    height: 100%;
    width: 90%;
    padding-left: 10%;

}
.lastCommitMessage{
    padding-top: 7.5%;
    padding-left: 10%;
}
#messageIconContainer{
    justify-content: center;
    max-width: 100%;
    max-height: 100% !important;
    display: flex;
    padding-top: 5%;
}