.buildingImg {
    width: 20vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1.pageUnderConstructionHeader {
    font-size: 8vw;
    text-align: center;
    color: #707070;
}
.pageConstructionPaper{
    height: 100%;
}

@media only screen and (min-width: 1280px) {
    h1.pageUnderConstructionHeader {
        font-size: 6vw;
    }
}
@media only screen and (min-width: 600px) and (max-width: 1280px) {
    .buildingImg {
        height: inherit;
        width: 40vw;
    }
}

@media only screen and (max-width: 600px) {
    .buildingImg {
        height: inherit;
        width: 80vw;
    }
}