:root {
    --b: black;
    --y: yellow;
    --r: red;
    --w: white;
    --o: brown;
}

@keyframes run {
    0%, 32% { box-shadow: var(--box-shadow-1) }
    33%, 66% { box-shadow: var(--box-shadow-2) }
    67%, 100% { box-shadow: var(--box-shadow-3) }
}
.pikachu {
    margin-left: 50%;
    height: 9px;
    width: 9px;
    background: var(--y);
    
    --box-shadow-3: /* row -22 */ 18px -197px var(--b)
    ,27px -197px var(--b)
    /* row -21 */ 
    ,9px -189px var(--b)
    ,18px -189px var(--y)
    ,27px -189px var(--y)
    ,36px -189px var(--b)
    /* row -20 */ 
    ,9px -180px var(--b)
    ,18px -180px var(--y)
    ,27px -180px var(--y)
    ,36px -180px var(--b)
    /* row -19 */ 
    ,0px -171px var(--b)
    ,9px -171px var(--y)
    ,18px -171px var(--y)
    ,27px -171px var(--y)
    ,36px -171px var(--y)
    ,45px -171px var(--b)
    /* row -18 */ 
    ,0px -162px var(--b)
    ,9px -162px var(--y)
    ,18px -162px var(--y)
    ,27px -162px var(--y)
    ,36px -162px var(--y)
    ,45px -162px var(--b)
    /* row -17 */ 
    ,-9px -153px var(--b)
    ,0px -153px var(--y)
    ,9px -153px var(--y)
    ,18px -153px var(--y)
    ,27px -153px var(--y)
    ,36px -153px var(--y)
    ,45px -153px var(--y)
    ,54px -153px var(--b)
    /* row -16 */ 
    ,-9px -144px var(--b)
    ,0px -144px var(--y)
    ,9px -144px var(--y)
    ,18px -144px var(--y)
    ,27px -144px var(--y)
    ,36px -144px var(--y)
    ,45px -144px var(--y)
    ,54px -144px var(--b)
    /* row -15 */ 
    ,-18px -135px var(--b)
    ,-9px -135px var(--y)
    ,0px -135px var(--y)
    ,9px -135px var(--y)
    ,18px -135px var(--y)
    ,27px -135px var(--y)
    ,36px -135px var(--y)
    ,45px -135px var(--b)
    /* row -14 */ 
    ,-18px -126px var(--b)
    ,-9px -126px var(--y)
    ,0px -126px var(--y)
    ,9px -126px var(--y)
    ,18px -126px var(--y)
    ,27px -126px var(--y)
    ,36px -126px var(--b)
    /* row -13 */ 
    ,-27px -117px var(--b)
    ,-18px -117px var(--y)
    ,-9px -117px var(--y)
    ,0px -117px var(--y)
    ,9px -117px var(--y)
    ,18px -117px var(--y)
    ,27px -117px var(--b)
    /* row -12 */ 
    ,-27px -108px var(--b)
    ,-18px -108px var(--y)
    ,-9px -108px var(--y)
    ,0px -108px var(--y)
    ,9px -108px var(--y)
    ,18px -108px var(--b)
    /* row -11 */ 
    ,-18px -99px var(--b)
    ,-9px -99px var(--b)
    ,0px -99px var(--y)
    ,9px -99px var(--y)
    ,18px -99px var(--y)
    ,27px -99px var(--b)
    ,36px -99px var(--b)
    /* row -10 */ 
    ,0px -90px var(--b)
    ,9px -90px var(--b)
    ,18px -90px var(--y)
    ,27px -90px var(--y)
    ,36px -90px var(--y)
    ,45px -90px var(--b)
    /* row -9 */ 
    ,18px -81px var(--b)
    ,27px -81px var(--y)
    ,36px -81px var(--y)
    ,45px -81px var(--y)
    ,54px -81px var(--b)
    ,63px -81px var(--b)
    /* row -8 */ 
    ,9px -72px var(--b)
    ,18px -72px var(--b)
    ,27px -72px var(--b)
    ,36px -72px var(--y)
    ,45px -72px var(--y)
    ,54px -72px var(--y)
    ,63px -72px var(--b)
    ,72px -72px var(--b)
    /* row -7 */ 
    ,-18px -63px var(--b)
    ,-9px -63px var(--b)
    ,0px -63px var(--b)
    ,9px -63px var(--y)
    ,18px -63px var(--y)
    ,27px -63px var(--y)
    ,36px -63px var(--y)
    ,45px -63px var(--b)
    ,54px -63px var(--b)
    /* row -6 */ 
    ,-135px -54px var(--b)
    ,-126px -54px var(--b)
    ,-9px -54px var(--b)
    ,0px -54px var(--y)
    ,9px -54px var(--y)
    ,18px -54px var(--y)
    ,27px -54px var(--b)
    ,135px -54px var(--b)
    ,144px -54px var(--b)
    /* row -5 */ 
    ,-135px -45px var(--b)
    ,-126px -45px var(--b)
    ,-117px -45px var(--b)
    ,-108px -45px var(--b)
    ,0px -45px var(--b)
    ,9px -45px var(--y)
    ,18px -45px var(--y)
    ,27px -45px var(--b)
    ,117px -45px var(--b)
    ,126px -45px var(--b)
    ,135px -45px var(--b)
    ,144px -45px var(--b)
    /* row -4 */ 
    ,-135px -36px var(--b)
    ,-126px -36px var(--b)
    ,-117px -36px var(--b)
    ,-108px -36px var(--b)
    ,-99px -36px var(--b)
    ,9px -36px var(--b)
    ,18px -36px var(--y)
    ,27px -36px var(--y)
    ,36px -36px var(--b)
    ,108px -36px var(--b)
    ,117px -36px var(--b)
    ,126px -36px var(--b)
    ,135px -36px var(--b)
    ,144px -36px var(--b)
    /* row -3 */ 
    ,-135px -27px var(--b)
    ,-126px -27px var(--b)
    ,-117px -27px var(--b)
    ,-108px -27px var(--b)
    ,-99px -27px var(--b)
    ,-90px -27px var(--b)
    ,9px -27px var(--b)
    ,18px -27px var(--y)
    ,27px -27px var(--y)
    ,36px -27px var(--b)
    ,99px -27px var(--b)
    ,108px -27px var(--b)
    ,117px -27px var(--b)
    ,126px -27px var(--b)
    ,135px -27px var(--b)
    ,144px -27px var(--b)
    /* row -2 */ 
    ,-135px -18px var(--b)
    ,-126px -18px var(--b)
    ,-117px -18px var(--b)
    ,-108px -18px var(--b)
    ,-99px -18px var(--y)
    ,-90px -18px var(--y)
    ,-81px -18px var(--b)
    ,9px -18px var(--b)
    ,18px -18px var(--y)
    ,27px -18px var(--b)
    ,90px -18px var(--b)
    ,99px -18px var(--y)
    ,108px -18px var(--y)
    ,117px -18px var(--b)
    ,126px -18px var(--b)
    ,135px -18px var(--b)
    ,144px -18px var(--b)
    /* row -1 */ 
    ,-126px -9px var(--b)
    ,-117px -9px var(--b)
    ,-108px -9px var(--y)
    ,-99px -9px var(--y)
    ,-90px -9px var(--y)
    ,-81px -9px var(--y)
    ,-72px -9px var(--b)
    ,-27px -9px var(--b)
    ,-18px -9px var(--b)
    ,-9px -9px var(--b)
    ,0px -9px var(--b)
    ,9px -9px var(--b)
    ,18px -9px var(--b)
    ,27px -9px var(--b)
    ,36px -9px var(--b)
    ,81px -9px var(--b)
    ,90px -9px var(--y)
    ,99px -9px var(--y)
    ,108px -9px var(--y)
    ,117px -9px var(--y)
    ,126px -9px var(--b)
    ,135px -9px var(--b)
    /* row 0 */ 
    ,-126px 0px var(--b)
    ,-117px 0px var(--b)
    ,-108px 0px var(--y)
    ,-99px 0px var(--y)
    ,-90px 0px var(--y)
    ,-81px 0px var(--y)
    ,-72px 0px var(--y)
    ,-63px 0px var(--b)
    ,-45px 0px var(--b)
    ,-36px 0px var(--b)
    ,-27px 0px var(--y)
    ,-18px 0px var(--y)
    ,-9px 0px var(--y)
    ,9px 0px var(--y)
    ,18px 0px var(--y)
    ,27px 0px var(--y)
    ,36px 0px var(--y)
    ,45px 0px var(--b)
    ,54px 0px var(--b)
    ,72px 0px var(--b)
    ,81px 0px var(--y)
    ,90px 0px var(--y)
    ,99px 0px var(--y)
    ,108px 0px var(--y)
    ,117px 0px var(--y)
    ,126px 0px var(--b)
    ,135px 0px var(--b)
    /* row 1 */ 
    ,-117px 9px var(--b)
    ,-108px 9px var(--y)
    ,-99px 9px var(--y)
    ,-90px 9px var(--y)
    ,-81px 9px var(--y)
    ,-72px 9px var(--y)
    ,-63px 9px var(--y)
    ,-54px 9px var(--b)
    ,-45px 9px var(--y)
    ,-36px 9px var(--y)
    ,-27px 9px var(--y)
    ,-18px 9px var(--b)
    ,-9px 9px var(--b)
    ,0px 9px var(--b)
    ,9px 9px var(--b)
    ,18px 9px var(--b)
    ,27px 9px var(--b)
    ,36px 9px var(--y)
    ,45px 9px var(--y)
    ,54px 9px var(--y)
    ,63px 9px var(--b)
    ,72px 9px var(--b)
    ,81px 9px var(--y)
    ,90px 9px var(--y)
    ,99px 9px var(--y)
    ,108px 9px var(--y)
    ,117px 9px var(--y)
    ,126px 9px var(--b)
    /* row 2 */
    ,-117px 18px var(--b)
    ,-108px 18px var(--y)
    ,-99px 18px var(--y)
    ,-90px 18px var(--y)
    ,-81px 18px var(--y)
    ,-72px 18px var(--y)
    ,-63px 18px var(--y)
    ,-54px 18px var(--b)
    ,-45px 18px var(--b)
    ,-36px 18px var(--b)
    ,-27px 18px var(--b)
    ,-18px 18px var(--y)
    ,-9px 18px var(--y)
    ,0px 18px var(--y)
    ,9px 18px var(--y)
    ,18px 18px var(--y)
    ,27px 18px var(--y)
    ,36px 18px var(--b)
    ,45px 18px var(--b)
    ,54px 18px var(--b)
    ,63px 18px var(--b)
    ,72px 18px var(--y)
    ,81px 18px var(--y)
    ,90px 18px var(--y)
    ,99px 18px var(--y)
    ,108px 18px var(--y)
    ,117px 18px var(--y)
    ,126px 18px var(--b)
    /* row 3 */
    ,-108px 27px var(--b)
    ,-99px 27px var(--y)
    ,-90px 27px var(--y)
    ,-81px 27px var(--y)
    ,-72px 27px var(--y)
    ,-63px 27px var(--b)
    ,-54px 27px var(--b)
    ,-45px 27px var(--y)
    ,-36px 27px var(--y)
    ,-27px 27px var(--y)
    ,-18px 27px var(--y)
    ,-9px 27px var(--y)
    ,0px 27px var(--y)
    ,9px 27px var(--y)
    ,18px 27px var(--y)
    ,27px 27px var(--y)
    ,36px 27px var(--y)
    ,45px 27px var(--y)
    ,54px 27px var(--y)
    ,63px 27px var(--b)
    ,72px 27px var(--b)
    ,81px 27px var(--y)
    ,90px 27px var(--y)
    ,99px 27px var(--y)
    ,108px 27px var(--y)
    ,117px 27px var(--b)
    /* row 4 */
    ,-108px 36px var(--b)
    ,-99px 36px var(--y)
    ,-90px 36px var(--y)
    ,-81px 36px var(--y)
    ,-72px 36px var(--y)
    ,-63px 36px var(--y)
    ,-54px 36px var(--y)
    ,-45px 36px var(--y)
    ,-36px 36px var(--y)
    ,-27px 36px var(--y)
    ,-18px 36px var(--y)
    ,-9px 36px var(--y)
    ,0px 36px var(--y)
    ,9px 36px var(--y)
    ,18px 36px var(--y)
    ,27px 36px var(--y)
    ,36px 36px var(--y)
    ,45px 36px var(--y)
    ,54px 36px var(--y)
    ,63px 36px var(--y)
    ,72px 36px var(--y)
    ,81px 36px var(--y)
    ,90px 36px var(--y)
    ,99px 36px var(--y)
    ,108px 36px var(--y)
    ,117px 36px var(--b)
    /* row 5 */
    ,-99px 45px var(--b)
    ,-90px 45px var(--y)
    ,-81px 45px var(--y)
    ,-72px 45px var(--y)
    ,-63px 45px var(--y)
    ,-54px 45px var(--y)
    ,-45px 45px var(--y)
    ,-36px 45px var(--y)
    ,-27px 45px var(--y)
    ,-18px 45px var(--y)
    ,-9px 45px var(--y)
    ,0px 45px var(--y)
    ,9px 45px var(--y)
    ,18px 45px var(--y)
    ,27px 45px var(--y)
    ,36px 45px var(--y)
    ,45px 45px var(--y)
    ,54px 45px var(--y)
    ,63px 45px var(--y)
    ,72px 45px var(--y)
    ,81px 45px var(--y)
    ,90px 45px var(--y)
    ,99px 45px var(--y)
    ,108px 45px var(--b)
    /* row 6 */
    ,-108px 54px var(--b)
    ,-99px 54px var(--b)
    ,-90px 54px var(--y)
    ,-81px 54px var(--b)
    ,-72px 54px var(--y)
    ,-63px 54px var(--y)
    ,-54px 54px var(--y)
    ,-45px 54px var(--y)
    ,-36px 54px var(--y)
    ,-27px 54px var(--y)
    ,-18px 54px var(--y)
    ,-9px 54px var(--y)
    ,0px 54px var(--y)
    ,9px 54px var(--y)
    ,18px 54px var(--y)
    ,27px 54px var(--y)
    ,36px 54px var(--y)
    ,45px 54px var(--y)
    ,54px 54px var(--y)
    ,63px 54px var(--y)
    ,72px 54px var(--y)
    ,81px 54px var(--y)
    ,90px 54px var(--b)
    ,99px 54px var(--y)
    ,108px 54px var(--b)
    ,117px 54px var(--b)
    /* row 7 */
    ,-108px 63px var(--b)
    ,-99px 63px var(--y)
    ,-90px 63px var(--b)
    ,-81px 63px var(--y)
    ,-72px 63px var(--y)
    ,-63px 63px var(--y)
    ,-54px 63px var(--y)
    ,-45px 63px var(--y)
    ,-36px 63px var(--y)
    ,-27px 63px var(--y)
    ,-18px 63px var(--y)
    ,-9px 63px var(--y)
    ,0px 63px var(--y)
    ,9px 63px var(--y)
    ,18px 63px var(--y)
    ,27px 63px var(--y)
    ,36px 63px var(--y)
    ,45px 63px var(--y)
    ,54px 63px var(--y)
    ,63px 63px var(--y)
    ,72px 63px var(--y)
    ,81px 63px var(--y)
    ,90px 63px var(--y)
    ,99px 63px var(--b)
    ,108px 63px var(--y)
    ,117px 63px var(--b)
    /* row 8 */
    ,-108px 72px var(--b)
    ,-99px 72px var(--y)
    ,-90px 72px var(--b)
    ,-81px 72px var(--y)
    ,-72px 72px var(--y)
    ,-63px 72px var(--y)
    ,-54px 72px var(--y)
    ,-45px 72px var(--y)
    ,-36px 72px var(--y)
    ,-27px 72px var(--y)
    ,-18px 72px var(--y)
    ,-9px 72px var(--y)
    ,0px 72px var(--y)
    ,9px 72px var(--y)
    ,18px 72px var(--y)
    ,27px 72px var(--y)
    ,36px 72px var(--y)
    ,45px 72px var(--y)
    ,54px 72px var(--y)
    ,63px 72px var(--y)
    ,72px 72px var(--y)
    ,81px 72px var(--y)
    ,90px 72px var(--y)
    ,99px 72px var(--b)
    ,108px 72px var(--y)
    ,117px 72px var(--b)
    /* row 9 */
    ,-117px 81px var(--b)
    ,-108px 81px var(--b)
    ,-99px 81px var(--b)
    ,-90px 81px var(--y)
    ,-81px 81px var(--y)
    ,-72px 81px var(--y)
    ,-63px 81px var(--y)
    ,-54px 81px var(--y)
    ,-45px 81px var(--y)
    ,-36px 81px var(--y)
    ,-27px 81px var(--y)
    ,-18px 81px var(--y)
    ,-9px 81px var(--y)
    ,0px 81px var(--y)
    ,9px 81px var(--y)
    ,18px 81px var(--y)
    ,27px 81px var(--y)
    ,36px 81px var(--y)
    ,45px 81px var(--y)
    ,54px 81px var(--y)
    ,63px 81px var(--y)
    ,72px 81px var(--y)
    ,81px 81px var(--y)
    ,90px 81px var(--y)
    ,99px 81px var(--b)
    ,108px 81px var(--b)
    ,117px 81px var(--b)
    /* row 10 */
    ,-126px 90px var(--b)
    ,-117px 90px var(--b)
    ,-108px 90px var(--y)
    ,-99px 90px var(--b)
    ,-90px 90px var(--y)
    ,-81px 90px var(--y)
    ,-72px 90px var(--y)
    ,-63px 90px var(--y)
    ,-54px 90px var(--b)
    ,-45px 90px var(--b)
    ,-36px 90px var(--y)
    ,-27px 90px var(--y)
    ,-18px 90px var(--y)
    ,-9px 90px var(--y)
    ,0px 90px var(--y)
    ,9px 90px var(--y)
    ,18px 90px var(--y)
    ,27px 90px var(--y)
    ,36px 90px var(--y)
    ,45px 90px var(--b)
    ,54px 90px var(--b)
    ,63px 90px var(--y)
    ,72px 90px var(--y)
    ,81px 90px var(--y)
    ,90px 90px var(--y)
    ,99px 90px var(--b)
    ,108px 90px var(--y)
    ,117px 90px var(--b)
    ,126px 90px var(--b)
    /* row 11 */
    ,-135px 99px var(--b)
    ,-126px 99px var(--y)
    ,-117px 99px var(--b)
    ,-108px 99px var(--o)
    ,-99px 99px var(--b)
    ,-90px 99px var(--y)
    ,-81px 99px var(--y)
    ,-72px 99px var(--y)
    ,-63px 99px var(--b)
    ,-54px 99px var(--w)
    ,-45px 99px var(--b)
    ,-36px 99px var(--b)
    ,-27px 99px var(--y)
    ,-18px 99px var(--y)
    ,-9px 99px var(--y)
    ,0px 99px var(--y)
    ,9px 99px var(--y)
    ,18px 99px var(--y)
    ,27px 99px var(--y)
    ,36px 99px var(--b)
    ,45px 99px var(--b)
    ,54px 99px var(--w)
    ,63px 99px var(--b)
    ,72px 99px var(--y)
    ,81px 99px var(--y)
    ,90px 99px var(--y)
    ,99px 99px var(--b)
    ,108px 99px var(--o)
    ,117px 99px var(--b)
    ,126px 99px var(--y)
    ,135px 99px var(--b)
    /* row 12 */
    ,-135px 108px var(--b)
    ,-126px 108px var(--y)
    ,-117px 108px var(--o)
    ,-108px 108px var(--o)
    ,-99px 108px var(--b)
    ,-90px 108px var(--y)
    ,-81px 108px var(--y)
    ,-72px 108px var(--y)
    ,-63px 108px var(--b)
    ,-54px 108px var(--b)
    ,-45px 108px var(--b)
    ,-36px 108px var(--b)
    ,-27px 108px var(--y)
    ,-18px 108px var(--y)
    ,-9px 108px var(--y)
    ,0px 108px var(--y)
    ,9px 108px var(--y)
    ,18px 108px var(--y)
    ,27px 108px var(--y)
    ,36px 108px var(--b)
    ,45px 108px var(--b)
    ,54px 108px var(--b)
    ,63px 108px var(--b)
    ,72px 108px var(--y)
    ,81px 108px var(--y)
    ,90px 108px var(--y)
    ,99px 108px var(--b)
    ,108px 108px var(--o)
    ,117px 108px var(--o)
    ,126px 108px var(--y)
    ,135px 108px var(--b)
    /* row 13 */
    ,-126px 117px var(--b)
    ,-117px 117px var(--o)
    ,-108px 117px var(--b)
    ,-99px 117px var(--y)
    ,-90px 117px var(--y)
    ,-81px 117px var(--y)
    ,-72px 117px var(--y)
    ,-63px 117px var(--y)
    ,-54px 117px var(--b)
    ,-45px 117px var(--b)
    ,-36px 117px var(--y)
    ,-27px 117px var(--y)
    ,-18px 117px var(--y)
    ,-9px 117px var(--y)
    ,0px 117px var(--y)
    ,9px 117px var(--y)
    ,18px 117px var(--y)
    ,27px 117px var(--y)
    ,36px 117px var(--y)
    ,45px 117px var(--b)
    ,54px 117px var(--b)
    ,63px 117px var(--y)
    ,72px 117px var(--y)
    ,81px 117px var(--y)
    ,90px 117px var(--y)
    ,99px 117px var(--y)
    ,108px 117px var(--b)
    ,117px 117px var(--o)
    ,126px 117px var(--b)
    /* row 14 */
    ,-126px 126px var(--b)
    ,-117px 126px var(--o)
    ,-108px 126px var(--b)
    ,-99px 126px var(--y)
    ,-90px 126px var(--y)
    ,-81px 126px var(--r)
    ,-72px 126px var(--r)
    ,-63px 126px var(--y)
    ,-54px 126px var(--y)
    ,-45px 126px var(--y)
    ,-36px 126px var(--y)
    ,-27px 126px var(--y)
    ,-18px 126px var(--y)
    ,-9px 126px var(--y)
    ,0px 126px var(--b)
    ,9px 126px var(--b)
    ,18px 126px var(--y)
    ,27px 126px var(--y)
    ,36px 126px var(--y)
    ,45px 126px var(--y)
    ,54px 126px var(--y)
    ,63px 126px var(--y)
    ,72px 126px var(--r)
    ,81px 126px var(--r)
    ,90px 126px var(--y)
    ,99px 126px var(--y)
    ,108px 126px var(--b)
    ,117px 126px var(--o)
    ,126px 126px var(--b)
    /* row 15 */
    ,-117px 135px var(--b)
    ,-108px 135px var(--b)
    ,-99px 135px var(--y)
    ,-90px 135px var(--r)
    ,-81px 135px var(--r)
    ,-72px 135px var(--r)
    ,-63px 135px var(--r)
    ,-54px 135px var(--y)
    ,-45px 135px var(--y)
    ,-36px 135px var(--y)
    ,-27px 135px var(--y)
    ,-18px 135px var(--y)
    ,-9px 135px var(--y)
    ,0px 135px var(--y)
    ,9px 135px var(--y)
    ,18px 135px var(--y)
    ,27px 135px var(--y)
    ,36px 135px var(--y)
    ,45px 135px var(--y)
    ,54px 135px var(--y)
    ,63px 135px var(--r)
    ,72px 135px var(--r)
    ,81px 135px var(--r)
    ,90px 135px var(--r)
    ,99px 135px var(--y)
    ,108px 135px var(--b)
    ,117px 135px var(--b)
    /* row 16 */
    ,-99px 144px var(--b)
    ,-90px 144px var(--r)
    ,-81px 144px var(--r)
    ,-72px 144px var(--r)
    ,-63px 144px var(--r)
    ,-54px 144px var(--y)
    ,-45px 144px var(--y)
    ,-36px 144px var(--y)
    ,-27px 144px var(--b)
    ,-18px 144px var(--y)
    ,-9px 144px var(--y)
    ,0px 144px var(--b)
    ,9px 144px var(--b)
    ,18px 144px var(--y)
    ,27px 144px var(--y)
    ,36px 144px var(--b)
    ,45px 144px var(--y)
    ,54px 144px var(--y)
    ,63px 144px var(--r)
    ,72px 144px var(--r)
    ,81px 144px var(--r)
    ,90px 144px var(--r)
    ,99px 144px var(--b)
    /* row 17 */
    ,-99px 153px var(--b)
    ,-90px 153px var(--y)
    ,-81px 153px var(--r)
    ,-72px 153px var(--r)
    ,-63px 153px var(--y)
    ,-54px 153px var(--y)
    ,-45px 153px var(--y)
    ,-36px 153px var(--y)
    ,-27px 153px var(--y)
    ,-18px 153px var(--b)
    ,-9px 153px var(--b)
    ,0px 153px var(--y)
    ,9px 153px var(--y)
    ,18px 153px var(--b)
    ,27px 153px var(--b)
    ,36px 153px var(--y)
    ,45px 153px var(--y)
    ,54px 153px var(--y)
    ,63px 153px var(--y)
    ,72px 153px var(--r)
    ,81px 153px var(--r)
    ,90px 153px var(--y)
    ,99px 153px var(--b)
    /* row 18 */
    ,-90px 162px var(--b)
    ,-81px 162px var(--y)
    ,-72px 162px var(--y)
    ,-63px 162px var(--y)
    ,-54px 162px var(--y)
    ,-45px 162px var(--y)
    ,-36px 162px var(--y)
    ,-27px 162px var(--y)
    ,-18px 162px var(--y)
    ,-9px 162px var(--y)
    ,0px 162px var(--y)
    ,9px 162px var(--y)
    ,18px 162px var(--y)
    ,27px 162px var(--y)
    ,36px 162px var(--y)
    ,45px 162px var(--y)
    ,54px 162px var(--y)
    ,63px 162px var(--y)
    ,72px 162px var(--y)
    ,81px 162px var(--y)
    ,90px 162px var(--b)
    /* row 19 */
    ,-90px 171px var(--b)
    ,-81px 171px var(--b)
    ,-72px 171px var(--b)
    ,-63px 171px var(--y)
    ,-54px 171px var(--y)
    ,-45px 171px var(--y)
    ,-36px 171px var(--y)
    ,-27px 171px var(--y)
    ,-18px 171px var(--y)
    ,-9px 171px var(--y)
    ,0px 171px var(--y)
    ,9px 171px var(--y)
    ,18px 171px var(--y)
    ,27px 171px var(--y)
    ,36px 171px var(--y)
    ,45px 171px var(--y)
    ,54px 171px var(--y)
    ,63px 171px var(--y)
    ,72px 171px var(--b)
    ,81px 171px var(--b)
    ,90px 171px var(--b)
    /* row 20 */
    ,-81px 180px var(--b)
    ,-72px 180px var(--y)
    ,-63px 180px var(--b)
    ,-54px 180px var(--b)
    ,-45px 180px var(--b)
    ,-36px 180px var(--y)
    ,-27px 180px var(--y)
    ,-18px 180px var(--y)
    ,-9px 180px var(--y)
    ,0px 180px var(--y)
    ,9px 180px var(--y)
    ,18px 180px var(--y)
    ,27px 180px var(--y)
    ,36px 180px var(--y)
    ,45px 180px var(--b)
    ,54px 180px var(--b)
    ,63px 180px var(--b)
    ,72px 180px var(--y)
    ,81px 180px var(--b)
    /* row 21 */
    ,-81px 189px var(--b)
    ,-72px 189px var(--y)
    ,-63px 189px var(--y)
    ,-54px 189px var(--y)
    ,-45px 189px var(--y)
    ,-36px 189px var(--y)
    ,-27px 189px var(--b)
    ,-18px 189px var(--b)
    ,-9px 189px var(--b)
    ,0px 189px var(--b)
    ,9px 189px var(--b)
    ,18px 189px var(--b)
    ,27px 189px var(--b)
    ,36px 189px var(--y)
    ,45px 189px var(--y)
    ,54px 189px var(--y)
    ,63px 189px var(--y)
    ,72px 189px var(--y)
    ,81px 189px var(--b)
    /* row 22 */
    ,-72px 198px var(--b)
    ,-63px 198px var(--y)
    ,-54px 198px var(--y)
    ,-45px 198px var(--y)
    ,-36px 198px var(--y)
    ,-27px 198px var(--y)
    ,-18px 198px var(--b)
    ,18px 198px var(--b)
    ,27px 198px var(--y)
    ,36px 198px var(--y)
    ,45px 198px var(--y)
    ,54px 198px var(--y)
    ,63px 198px var(--y)
    ,72px 198px var(--b)
    /* row 23 */
    ,-72px 207px var(--b)
    ,-63px 207px var(--b)
    ,-54px 207px var(--y)
    ,-45px 207px var(--y)
    ,-36px 207px var(--y)
    ,-27px 207px var(--b)
    ,27px 207px var(--b)
    ,36px 207px var(--y)
    ,45px 207px var(--y)
    ,54px 207px var(--y)
    ,63px 207px var(--b)
    ,72px 207px var(--b)
    /* row 24 */
    ,-63px 216px var(--b)
    ,-54px 216px var(--y)
    ,-45px 216px var(--b)
    ,-36px 216px var(--y)
    ,-27px 216px var(--b)
    ,27px 216px var(--b)
    ,36px 216px var(--y)
    ,45px 216px var(--b)
    ,54px 216px var(--y)
    ,63px 216px var(--b)
    /* row 25 */
    ,-54px 225px var(--b)
    ,-45px 225px var(--b)
    ,-36px 225px var(--b)
    ,36px 225px var(--b)
    ,45px 225px var(--b)
    ,54px 225px var(--b)
    ;

    --box-shadow-2: /* row -20 */ 9px -180px var(--b)
    ,18px -180px var(--b)
    /* row -19 */
    ,0px -171px var(--b)
    ,9px -171px var(--y)
    ,18px -171px var(--y)
    ,27px -171px var(--b)
    /* row -18 */ 
    ,0px -162px var(--b)
    ,9px -162px var(--y)
    ,18px -162px var(--y)
    ,27px -162px var(--b)
    /* row -17 */ 
    ,-9px -153px var(--b)
    ,0px -153px var(--y)
    ,9px -153px var(--y)
    ,18px -153px var(--y)
    ,27px -153px var(--y)
    ,36px -153px var(--b)
    /* row -16 */ 
    ,-9px -144px var(--b)
    ,0px -144px var(--y)
    ,9px -144px var(--y)
    ,18px -144px var(--y)
    ,27px -144px var(--y)
    ,36px -144px var(--b)
    /* row -15 */ 
    ,-18px -135px var(--b)
    ,-9px -135px var(--y)
    ,0px -135px var(--y)
    ,9px -135px var(--y)
    ,18px -135px var(--y)
    ,27px -135px var(--y)
    ,36px -135px var(--y)
    ,45px -135px var(--b)
    /* row -14 */ 
    ,-18px -126px var(--b)
    ,-9px -126px var(--y)
    ,0px -126px var(--y)
    ,9px -126px var(--y)
    ,18px -126px var(--y)
    ,27px -126px var(--y)
    ,36px -126px var(--y)
    ,45px -126px var(--b)
    /* row -13 */ 
    ,-27px -117px var(--b)
    ,-18px -117px var(--y)
    ,-9px -117px var(--y)
    ,0px -117px var(--y)
    ,9px -117px var(--y)
    ,18px -117px var(--y)
    ,27px -117px var(--y)
    ,36px -117px var(--b)
    /* row -12 */ 
    ,-27px -108px var(--b)
    ,-18px -108px var(--y)
    ,-9px -108px var(--y)
    ,0px -108px var(--y)
    ,9px -108px var(--y)
    ,18px -108px var(--y)
    ,27px -108px var(--b)
    /* row -11 */ 
    ,-36px -99px var(--b)
    ,-27px -99px var(--y)
    ,-18px -99px var(--y)
    ,-9px -99px var(--y)
    ,0px -99px var(--y)
    ,9px -99px var(--y)
    ,18px -99px var(--b)
    /* row -10 */ 
    ,-36px -90px var(--b)
    ,-27px -90px var(--y)
    ,-18px -90px var(--y)
    ,-9px -90px var(--y)
    ,0px -90px var(--y)
    ,9px -90px var(--b)
    /* row -9 */ 
    ,-27px -81px var(--b)
    ,-18px -81px var(--b)
    ,-9px -81px var(--y)
    ,0px -81px var(--y)
    ,9px -81px var(--y)
    ,18px -81px var(--b)
    ,27px -81px var(--b)
    /* row -8 */ 
    ,-9px -72px var(--b)
    ,0px -72px var(--b)
    ,9px -72px var(--y)
    ,18px -72px var(--y)
    ,27px -72px var(--y)
    ,36px -72px var(--b)
    /* row -7 */ 
    ,9px -63px var(--b)
    ,18px -63px var(--y)
    ,27px -63px var(--y)
    ,36px -63px var(--y)
    ,45px -63px var(--b)
    ,54px -63px var(--b)
    /* row -6 */ 
    ,-9px -54px var(--b)
    ,0px -54px var(--b)
    ,9px -54px var(--y)
    ,18px -54px var(--y)
    ,27px -54px var(--y)
    ,36px -54px var(--y)
    ,45px -54px var(--y)
    ,54px -54px var(--y)
    ,63px -54px var(--b)
    /* row -5 */ 
    ,-27px -45px var(--b)
    ,-18px -45px var(--b)
    ,-9px -45px var(--y)
    ,0px -45px var(--y)
    ,9px -45px var(--y)
    ,18px -45px var(--y)
    ,27px -45px var(--y)
    ,36px -45px var(--b)
    ,45px -45px var(--b)
    ,54px -45px var(--b)
    /* row -4 */ 
    ,-117px -36px var(--b)
    ,-108px -36px var(--b)
    ,-36px -36px var(--b)
    ,-27px -36px var(--y)
    ,-18px -36px var(--y)
    ,-9px -36px var(--y)
    ,0px -36px var(--y)
    ,9px -36px var(--y)
    ,18px -36px var(--b)
    ,27px -36px var(--b)
    ,108px -36px var(--b)
    ,117px -36px var(--b)
    ,126px -36px var(--b)
    ,135px -36px var(--b)
    /* row -3 */ 
    ,-117px -27px var(--b)
    ,-108px -27px var(--b)
    ,-99px -27px var(--b)
    ,-90px -27px var(--b)
    ,-27px -27px var(--b)
    ,-18px -27px var(--y)
    ,-9px -27px var(--y)
    ,0px -27px var(--b)
    ,9px -27px var(--b)
    ,99px -27px var(--b)
    ,108px -27px var(--y)
    ,117px -27px var(--b)
    ,126px -27px var(--b)
    ,135px -27px var(--b)
    /* row -2 */ 
    ,-117px -18px var(--b)
    ,-108px -18px var(--b)
    ,-99px -18px var(--b)
    ,-90px -18px var(--y)
    ,-81px -18px var(--b)
    ,-72px -18px var(--b)
    ,-18px -18px var(--b)
    ,-9px -18px var(--y)
    ,0px -18px var(--y)
    ,9px -18px var(--b)
    ,81px -18px var(--b)
    ,90px -18px var(--b)
    ,99px -18px var(--y)
    ,108px -18px var(--y)
    ,117px -18px var(--b)
    ,126px -18px var(--b)
    ,135px -18px var(--b)
    /* row -1 */ 
    ,-108px -9px var(--b)
    ,-99px -9px var(--b)
    ,-90px -9px var(--y)
    ,-81px -9px var(--y)
    ,-72px -9px var(--y)
    ,-63px -9px var(--b)
    ,-9px -9px var(--b)
    ,0px -9px var(--y)
    ,9px -9px var(--b)
    ,72px -9px var(--b)
    ,81px -9px var(--y)
    ,90px -9px var(--y)
    ,99px -9px var(--y)
    ,108px -9px var(--y)
    ,117px -9px var(--b)
    ,126px -9px var(--b)
    /* row 0 */ 
    ,-108px 0px var(--b)
    ,-99px 0px var(--b)
    ,-90px 0px var(--y)
    ,-81px 0px var(--y)
    ,-72px 0px var(--y)
    ,-63px 0px var(--y)
    ,-54px 0px var(--b)
    ,-45px 0px var(--b)
    ,-9px 0px var(--b)
    ,inset 9px 9px var(--b)
    ,9px 0px var(--b)
    ,18px 0px var(--b)
    ,54px 0px var(--b)
    ,63px 0px var(--b)
    ,72px 0px var(--y)
    ,81px 0px var(--y)
    ,90px 0px var(--y)
    ,99px 0px var(--y)
    ,108px 0px var(--y)
    ,117px 0px var(--b)
    ,126px 0px var(--b)
    /* row 1 */ 
    ,-99px 9px var(--b)
    ,-90px 9px var(--y)
    ,-81px 9px var(--y)
    ,-72px 9px var(--y)
    ,-63px 9px var(--y)
    ,-54px 9px var(--y)
    ,-45px 9px var(--y)
    ,-36px 9px var(--b)
    ,-27px 9px var(--b)
    ,-18px 9px var(--b)
    ,-9px 9px var(--y)
    ,0px 9px var(--y)
    ,9px 9px var(--y)
    ,18px 9px var(--y)
    ,27px 9px var(--b)
    ,36px 9px var(--b)
    ,45px 9px var(--b)
    ,54px 9px var(--y)
    ,63px 9px var(--y)
    ,72px 9px var(--y)
    ,81px 9px var(--y)
    ,90px 9px var(--y)
    ,99px 9px var(--y)
    ,108px 9px var(--y)
    ,117px 9px var(--b)
    /* row 2 */ 
    ,-99px 18px var(--b)
    ,-90px 18px var(--y)
    ,-81px 18px var(--y)
    ,-72px 18px var(--y)
    ,-63px 18px var(--y)
    ,-54px 18px var(--y)
    ,-45px 18px var(--y)
    ,-36px 18px var(--y)
    ,-27px 18px var(--y)
    ,-18px 18px var(--y)
    ,-9px 18px var(--y)
    ,0px 18px var(--y)
    ,9px 18px var(--y)
    ,18px 18px var(--y)
    ,27px 18px var(--y)
    ,36px 18px var(--y)
    ,45px 18px var(--y)
    ,54px 18px var(--y)
    ,63px 18px var(--y)
    ,72px 18px var(--y)
    ,81px 18px var(--y)
    ,90px 18px var(--y)
    ,99px 18px var(--y)
    ,108px 18px var(--y)
    ,117px 18px var(--b)
    /* row 3 */ 
    ,-90px 27px var(--b)
    ,-81px 27px var(--y)
    ,-72px 27px var(--y)
    ,-63px 27px var(--y)
    ,-54px 27px var(--y)
    ,-45px 27px var(--y)
    ,-36px 27px var(--y)
    ,-27px 27px var(--y)
    ,-18px 27px var(--y)
    ,-9px 27px var(--y)
    ,0px 27px var(--y)
    ,9px 27px var(--y)
    ,18px 27px var(--y)
    ,27px 27px var(--y)
    ,36px 27px var(--y)
    ,45px 27px var(--y)
    ,54px 27px var(--y)
    ,63px 27px var(--y)
    ,72px 27px var(--y)
    ,81px 27px var(--y)
    ,90px 27px var(--y)
    ,99px 27px var(--y)
    ,108px 27px var(--b)
    /* row 4 */ 
    ,-81px 36px var(--b)
    ,-72px 36px var(--y)
    ,-63px 36px var(--b)
    ,-54px 36px var(--y)
    ,-45px 36px var(--y)
    ,-36px 36px var(--y)
    ,-27px 36px var(--y)
    ,-18px 36px var(--y)
    ,-9px 36px var(--y)
    ,0px 36px var(--y)
    ,9px 36px var(--y)
    ,18px 36px var(--y)
    ,27px 36px var(--y)
    ,36px 36px var(--y)
    ,45px 36px var(--y)
    ,54px 36px var(--y)
    ,63px 36px var(--y)
    ,72px 36px var(--y)
    ,81px 36px var(--b)
    ,90px 36px var(--y)
    ,99px 36px var(--b)
    /* row 5 */ 
    ,-72px 45px var(--b)
    ,-63px 45px var(--y)
    ,-54px 45px var(--y)
    ,-45px 45px var(--y)
    ,-36px 45px var(--y)
    ,-27px 45px var(--y)
    ,-18px 45px var(--y)
    ,-9px 45px var(--y)
    ,0px 45px var(--y)
    ,9px 45px var(--y)
    ,18px 45px var(--y)
    ,27px 45px var(--y)
    ,36px 45px var(--y)
    ,45px 45px var(--y)
    ,54px 45px var(--y)
    ,63px 45px var(--y)
    ,72px 45px var(--y)
    ,81px 45px var(--y)
    ,90px 45px var(--b)
    /* row 6 */ 
    ,-72px 54px var(--b)
    ,-63px 54px var(--y)
    ,-54px 54px var(--y)
    ,-45px 54px var(--y)
    ,-36px 54px var(--y)
    ,-27px 54px var(--y)
    ,-18px 54px var(--y)
    ,-9px 54px var(--y)
    ,0px 54px var(--y)
    ,9px 54px var(--y)
    ,18px 54px var(--y)
    ,27px 54px var(--y)
    ,36px 54px var(--y)
    ,45px 54px var(--y)
    ,54px 54px var(--y)
    ,63px 54px var(--y)
    ,72px 54px var(--y)
    ,81px 54px var(--y)
    ,90px 54px var(--b)
    /* row 7 */ 
    ,-81px 63px var(--b)
    ,-72px 63px var(--y)
    ,-63px 63px var(--y)
    ,-54px 63px var(--y)
    ,-45px 63px var(--b)
    ,-36px 63px var(--b)
    ,-27px 63px var(--y)
    ,-18px 63px var(--y)
    ,-9px 63px var(--y)
    ,0px 63px var(--y)
    ,9px 63px var(--y)
    ,18px 63px var(--y)
    ,27px 63px var(--y)
    ,36px 63px var(--y)
    ,45px 63px var(--y)
    ,54px 63px var(--b)
    ,63px 63px var(--b)
    ,72px 63px var(--y)
    ,81px 63px var(--y)
    ,90px 63px var(--y)
    ,99px 63px var(--b)
    /* row 8 */ 
    ,-81px 72px var(--b)
    ,-72px 72px var(--y)
    ,-63px 72px var(--y)
    ,-54px 72px var(--b)
    ,-45px 72px var(--w)
    ,-36px 72px var(--b)
    ,-27px 72px var(--b)
    ,-18px 72px var(--y)
    ,-9px 72px var(--y)
    ,0px 72px var(--y)
    ,9px 72px var(--y)
    ,18px 72px var(--y)
    ,27px 72px var(--y)
    ,36px 72px var(--y)
    ,45px 72px var(--b)
    ,54px 72px var(--b)
    ,63px 72px var(--w)
    ,72px 72px var(--b)
    ,81px 72px var(--y)
    ,90px 72px var(--y)
    ,99px 72px var(--b)
    /* row 9 */ 
    ,-81px 81px var(--b)
    ,-72px 81px var(--y)
    ,-63px 81px var(--y)
    ,-54px 81px var(--b)
    ,-45px 81px var(--b)
    ,-36px 81px var(--b)
    ,-27px 81px var(--b)
    ,-18px 81px var(--y)
    ,-9px 81px var(--y)
    ,0px 81px var(--y)
    ,9px 81px var(--y)
    ,18px 81px var(--y)
    ,27px 81px var(--y)
    ,36px 81px var(--y)
    ,45px 81px var(--b)
    ,54px 81px var(--b)
    ,63px 81px var(--b)
    ,72px 81px var(--b)
    ,81px 81px var(--y)
    ,90px 81px var(--y)
    ,99px 81px var(--b)
    /* row 10 */ 
    ,-81px 90px var(--b)
    ,-72px 90px var(--y)
    ,-63px 90px var(--y)
    ,-54px 90px var(--y)
    ,-45px 90px var(--b)
    ,-36px 90px var(--b)
    ,-27px 90px var(--y)
    ,-18px 90px var(--y)
    ,-9px 90px var(--y)
    ,0px 90px var(--y)
    ,9px 90px var(--b)
    ,18px 90px var(--b)
    ,27px 90px var(--y)
    ,36px 90px var(--y)
    ,45px 90px var(--y)
    ,54px 90px var(--b)
    ,63px 90px var(--b)
    ,72px 90px var(--y)
    ,81px 90px var(--y)
    ,90px 90px var(--y)
    ,99px 90px var(--b)
    /* row 11 */ 
    ,-90px 99px var(--b)
    ,-81px 99px var(--y)
    ,-72px 99px var(--y)
    ,-63px 99px var(--r)
    ,-54px 99px var(--r)
    ,-45px 99px var(--y)
    ,-36px 99px var(--y)
    ,-27px 99px var(--y)
    ,-18px 99px var(--y)
    ,-9px 99px var(--y)
    ,0px 99px var(--y)
    ,9px 99px var(--y)
    ,18px 99px var(--y)
    ,27px 99px var(--y)
    ,36px 99px var(--y)
    ,45px 99px var(--y)
    ,54px 99px var(--y)
    ,63px 99px var(--y)
    ,72px 99px var(--r)
    ,81px 99px var(--r)
    ,90px 99px var(--y)
    ,99px 99px var(--y)
    ,108px 99px var(--b)
    /* row 12 */ 
    ,-90px 108px var(--b)
    ,-81px 108px var(--y)
    ,-72px 108px var(--r)
    ,-63px 108px var(--r)
    ,-54px 108px var(--r)
    ,-45px 108px var(--r)
    ,-36px 108px var(--y)
    ,-27px 108px var(--y)
    ,-18px 108px var(--y)
    ,-9px 108px var(--y)
    ,0px 108px var(--y)
    ,9px 108px var(--y)
    ,18px 108px var(--y)
    ,27px 108px var(--y)
    ,36px 108px var(--y)
    ,45px 108px var(--y)
    ,54px 108px var(--y)
    ,63px 108px var(--r)
    ,72px 108px var(--r)
    ,81px 108px var(--r)
    ,90px 108px var(--r)
    ,99px 108px var(--y)
    ,108px 108px var(--b)
    /* row 13 */ 
    ,-90px 117px var(--b)
    ,-81px 117px var(--y)
    ,-72px 117px var(--r)
    ,-63px 117px var(--r)
    ,-54px 117px var(--r)
    ,-45px 117px var(--r)
    ,-36px 117px var(--y)
    ,-27px 117px var(--y)
    ,-18px 117px var(--b)
    ,-9px 117px var(--y)
    ,0px 117px var(--y)
    ,9px 117px var(--b)
    ,18px 117px var(--b)
    ,27px 117px var(--y)
    ,36px 117px var(--y)
    ,45px 117px var(--b)
    ,54px 117px var(--y)
    ,63px 117px var(--r)
    ,72px 117px var(--r)
    ,81px 117px var(--r)
    ,90px 117px var(--r)
    ,99px 117px var(--y)
    ,108px 117px var(--b)
    /* row 14 */ 
    ,-99px 126px var(--b)
    ,-90px 126px var(--y)
    ,-81px 126px var(--b)
    ,-72px 126px var(--y)
    ,-63px 126px var(--r)
    ,-54px 126px var(--r)
    ,-45px 126px var(--y)
    ,-36px 126px var(--y)
    ,-27px 126px var(--y)
    ,-18px 126px var(--y)
    ,-9px 126px var(--b)
    ,0px 126px var(--b)
    ,9px 126px var(--y)
    ,18px 126px var(--y)
    ,27px 126px var(--b)
    ,36px 126px var(--b)
    ,45px 126px var(--y)
    ,54px 126px var(--y)
    ,63px 126px var(--y)
    ,72px 126px var(--r)
    ,81px 126px var(--r)
    ,90px 126px var(--y)
    ,99px 126px var(--b)
    ,108px 126px var(--y)
    ,117px 126px var(--b)
    /* row 15 */ 
    ,-99px 135px var(--b)
    ,-90px 135px var(--y)
    ,-81px 135px var(--b)
    ,-72px 135px var(--b)
    ,-63px 135px var(--y)
    ,-54px 135px var(--y)
    ,-45px 135px var(--y)
    ,-36px 135px var(--y)
    ,-27px 135px var(--y)
    ,-18px 135px var(--y)
    ,-9px 135px var(--y)
    ,0px 135px var(--y)
    ,9px 135px var(--y)
    ,18px 135px var(--y)
    ,27px 135px var(--y)
    ,36px 135px var(--y)
    ,45px 135px var(--y)
    ,54px 135px var(--y)
    ,63px 135px var(--y)
    ,72px 135px var(--y)
    ,81px 135px var(--y)
    ,90px 135px var(--b)
    ,99px 135px var(--b)
    ,108px 135px var(--y)
    ,117px 135px var(--b)
    /* row 16 */ 
    ,-99px 144px var(--b)
    ,-90px 144px var(--y)
    ,-81px 144px var(--y)
    ,-72px 144px var(--b)
    ,-63px 144px var(--b)
    ,-54px 144px var(--b)
    ,-45px 144px var(--b)
    ,-36px 144px var(--y)
    ,-27px 144px var(--y)
    ,-18px 144px var(--y)
    ,-9px 144px var(--y)
    ,0px 144px var(--y)
    ,9px 144px var(--y)
    ,18px 144px var(--y)
    ,27px 144px var(--y)
    ,36px 144px var(--y)
    ,45px 144px var(--y)
    ,54px 144px var(--y)
    ,63px 144px var(--b)
    ,72px 144px var(--b)
    ,81px 144px var(--b)
    ,90px 144px var(--b)
    ,99px 144px var(--y)
    ,108px 144px var(--y)
    ,117px 144px var(--b)
    /* row 17 */ 
    ,-99px 153px var(--b)
    ,-90px 153px var(--y)
    ,-81px 153px var(--y)
    ,-72px 153px var(--b)
    ,-63px 153px var(--y)
    ,-54px 153px var(--b)
    ,-45px 153px var(--y)
    ,-36px 153px var(--b)
    ,-27px 153px var(--b)
    ,-18px 153px var(--y)
    ,-9px 153px var(--y)
    ,0px 153px var(--y)
    ,9px 153px var(--y)
    ,18px 153px var(--y)
    ,27px 153px var(--y)
    ,36px 153px var(--y)
    ,45px 153px var(--b)
    ,54px 153px var(--b)
    ,63px 153px var(--y)
    ,72px 153px var(--b)
    ,81px 153px var(--y)
    ,90px 153px var(--b)
    ,99px 153px var(--y)
    ,108px 153px var(--y)
    ,117px 153px var(--b)
    /* row 18 */ 
    ,-90px 162px var(--b)
    ,-81px 162px var(--b)
    ,-72px 162px var(--b)
    ,-63px 162px var(--y)
    ,-54px 162px var(--y)
    ,-45px 162px var(--y)
    ,-36px 162px var(--b)
    ,-27px 162px var(--b)
    ,-18px 162px var(--b)
    ,-9px 162px var(--b)
    ,0px 162px var(--o)
    ,9px 162px var(--o)
    ,18px 162px var(--o)
    ,27px 162px var(--b)
    ,36px 162px var(--b)
    ,45px 162px var(--b)
    ,54px 162px var(--b)
    ,63px 162px var(--y)
    ,72px 162px var(--y)
    ,81px 162px var(--y)
    ,90px 162px var(--b)
    ,99px 162px var(--b)
    ,108px 162px var(--b)
    /* row 19 */ 
    ,-90px 171px var(--b)
    ,-81px 171px var(--y)
    ,-72px 171px var(--y)
    ,-63px 171px var(--y)
    ,-54px 171px var(--y)
    ,-45px 171px var(--y)
    ,-36px 171px var(--b)
    ,-27px 171px var(--o)
    ,-18px 171px var(--o)
    ,-9px 171px var(--o)
    ,0px 171px var(--o)
    ,9px 171px var(--o)
    ,18px 171px var(--o)
    ,27px 171px var(--o)
    ,36px 171px var(--o)
    ,45px 171px var(--o)
    ,54px 171px var(--b)
    ,63px 171px var(--y)
    ,72px 171px var(--y)
    ,81px 171px var(--y)
    ,90px 171px var(--y)
    ,99px 171px var(--y)
    ,108px 171px var(--b)
    /* row 20 */ 
    ,-90px 180px var(--b)
    ,-81px 180px var(--b)
    ,-72px 180px var(--y)
    ,-63px 180px var(--y)
    ,-54px 180px var(--y)
    ,-45px 180px var(--y)
    ,-36px 180px var(--y)
    ,-27px 180px var(--b)
    ,-18px 180px var(--o)
    ,-9px 180px var(--o)
    ,0px 180px var(--o)
    ,9px 180px var(--o)
    ,18px 180px var(--o)
    ,27px 180px var(--o)
    ,36px 180px var(--o)
    ,45px 180px var(--b)
    ,54px 180px var(--y)
    ,63px 180px var(--y)
    ,72px 180px var(--y)
    ,81px 180px var(--y)
    ,90px 180px var(--y)
    ,99px 180px var(--b)
    ,108px 180px var(--b)
    /* row 21 */ 
    ,-81px 189px var(--b)
    ,-72px 189px var(--b)
    ,-63px 189px var(--y)
    ,-54px 189px var(--y)
    ,-45px 189px var(--b)
    ,-36px 189px var(--b)
    ,-27px 189px var(--b)
    ,-18px 189px var(--b)
    ,-9px 189px var(--b)
    ,0px 189px var(--b)
    ,9px 189px var(--b)
    ,18px 189px var(--b)
    ,27px 189px var(--b)
    ,36px 189px var(--b)
    ,45px 189px var(--b)
    ,54px 189px var(--b)
    ,63px 189px var(--b)
    ,72px 189px var(--y)
    ,81px 189px var(--y)
    ,90px 189px var(--b)
    ,99px 189px var(--b)
    /* row 22 */ 
    ,-72px 197px var(--b)
    ,-63px 197px var(--b)
    ,-54px 197px var(--b)
    ,-45px 197px var(--o)
    ,-36px 197px var(--o)
    ,-27px 197px var(--o)
    ,-18px 197px var(--b)
    ,36px 197px var(--b)
    ,45px 197px var(--o)
    ,54px 197px var(--o)
    ,63px 197px var(--o)
    ,72px 197px var(--b)
    ,81px 197px var(--b)
    ,90px 197px var(--b)
    /* row 22 */ 
    ,-45px 206px var(--b)
    ,-36px 206px var(--b)
    ,-27px 206px var(--b)
    ,45px 206px var(--b)
    ,54px 206px var(--b)
    ,63px 206px var(--b)
    ;
    
    --box-shadow-1: /* row -18*/ 0px -162px var(--b)
    ,9px -162px var(--b)
    /* row -17 */ 
    ,-9px -153px var(--b)
    ,0px -153px var(--y)
    ,9px -153px var(--y)
    ,18px -153px var(--b)
    /* row -16 */ 
    ,-9px -144px var(--b)
    ,0px -144px var(--y)
    ,9px -144px var(--y)
    ,18px -144px var(--b)
    /* row -15 */ 
    ,-18px -135px var(--b)
    ,-9px -135px var(--y)
    ,0px -135px var(--y)
    ,9px -135px var(--y)
    ,18px -135px var(--y)
    ,27px -135px var(--b)
    /* row -14 */ 
    ,-18px -126px var(--b)
    ,-9px -126px var(--y)
    ,0px -126px var(--y)
    ,9px -126px var(--y)
    ,18px -126px var(--y)
    ,27px -126px var(--b)
    /* row -13 */ 
    ,-27px -117px var(--b)
    ,-18px -117px var(--y)
    ,-9px -117px var(--y)
    ,0px -117px var(--y)
    ,9px -117px var(--y)
    ,18px -117px var(--y)
    ,27px -117px var(--y)
    ,36px -117px var(--b)
    /* row -12 */ 
    ,-27px -108px var(--b)
    ,-18px -108px var(--y)
    ,-9px -108px var(--y)
    ,0px -108px var(--y)
    ,9px -108px var(--y)
    ,18px -108px var(--y)
    ,27px -108px var(--y)
    ,36px -108px var(--b)
    /* row -11 */ 
    ,-36px -99px var(--b)
    ,-27px -99px var(--y)
    ,-18px -99px var(--y)
    ,-9px -99px var(--y)
    ,0px -99px var(--y)
    ,9px -99px var(--y)
    ,18px -99px var(--y)
    ,27px -99px var(--b)
    /* row -10 */ 
    ,-36px -90px var(--b)
    ,-27px -90px var(--y)
    ,-18px -90px var(--y)
    ,-9px -90px var(--y)
    ,0px -90px var(--y)
    ,9px -90px var(--y)
    ,18px -90px var(--b)
    /* row -9 */ 
    ,-45px -81px var(--b)
    ,-36px -81px var(--y)
    ,-27px -81px var(--y)
    ,-18px -81px var(--y)
    ,-9px -81px var(--y)
    ,0px -81px var(--y)
    ,9px -81px var(--b)
    /* row -8 */ 
    ,-45px -72px var(--b)
    ,-36px -72px var(--y)
    ,-27px -72px var(--y)
    ,-18px -72px var(--y)
    ,-9px -72px var(--y)
    ,0px -72px var(--b)
    /* row -7 */ 
    ,-36px -63px var(--b)
    ,-27px -63px var(--b)
    ,-18px -63px var(--y)
    ,-9px -63px var(--y)
    ,0px -63px var(--y)
    ,9px -63px var(--b)
    ,18px -63px var(--b)
    /* row -6 */ 
    ,-18px -54px var(--b)
    ,-9px -54px var(--y)
    ,0px -54px var(--y)
    ,9px -54px var(--y)
    ,18px -54px var(--y)
    ,27px -54px var(--b)
    /* row -5 */ 
    ,-9px -45px var(--b)
    ,0px -45px var(--b)
    ,9px -45px var(--y)
    ,18px -45px var(--y)
    ,27px -45px var(--y)
    ,36px -45px var(--b)
    ,45px -45px var(--b)
    /* row -4 */ 
    ,9px -36px var(--b)
    ,18px -36px var(--y)
    ,27px -36px var(--y)
    ,36px -36px var(--y)
    ,45px -36px var(--y)
    ,54px -36px var(--b)
    /* row -3 */ 
    ,-126px -27px var(--b)
    ,-117px -27px var(--b)
    ,-108px -27px var(--b)
    ,-99px -27px var(--b)
    ,0px -27px var(--b)
    ,9px -27px var(--y)
    ,18px -27px var(--y)
    ,27px -27px var(--y)
    ,36px -27px var(--b)
    ,45px -27px var(--b)
    ,108px -27px var(--b)
    ,117px -27px var(--b)
    ,126px -27px var(--b)
    ,135px -27px var(--b)
    /* row -2 */ 
    ,-126px -18px var(--b)
    ,-117px -18px var(--b)
    ,-108px -18px var(--b)
    ,-99px -18px var(--y)
    ,-90px -18px var(--b)
    ,-81px -18px var(--b)
    ,-72px -18px var(--b)
    ,-9px -18px var(--b)
    ,0px -18px var(--y)
    ,9px -18px var(--y)
    ,18px -18px var(--b)
    ,81px -18px var(--b)
    ,90px -18px var(--b)
    ,99px -18px var(--b)
    ,108px -18px var(--y)
    ,117px -18px var(--b)
    ,126px -18px var(--b)
    ,135px -18px var(--b)
    /* row -1 */ 
    ,-117px -9px var(--b)
    ,-108px -9px var(--b)
    ,-99px -9px var(--y)
    ,-90px -9px var(--y)
    ,-81px -9px var(--y)
    ,-72px -9px var(--y)
    ,-63px -9px var(--b)
    ,-54px -9px var(--b)
    ,-18px -9px var(--b)
    ,-9px -9px var(--y)
    ,0px -9px var(--b)
    ,9px -9px var(--b)
    ,63px -9px var(--b)
    ,72px -9px var(--b)
    ,81px -9px var(--y)
    ,90px -9px var(--y)
    ,99px -9px var(--y)
    ,108px -9px var(--y)
    ,117px -9px var(--b)
    ,126px -9px var(--b)
    /* row 0 */ 
    ,-117px 0px var(--b)
    ,-108px 0px var(--b)
    ,-99px 0px var(--b)
    ,-90px 0px var(--y)
    ,-81px 0px var(--y)
    ,-72px 0px var(--y)
    ,-63px 0px var(--y)
    ,-54px 0px var(--y)
    ,-45px 0px var(--b)
    ,-36px 0px var(--b)
    ,-27px 0px var(--b)
    ,-18px 0px var(--b)
    ,-9px 0px var(--b)
    ,9px 0px var(--y)
    ,18px 0px var(--b)
    ,27px 0px var(--b)
    ,36px 0px var(--b)
    ,45px 0px var(--b)
    ,54px 0px var(--b)
    ,63px 0px var(--y)
    ,72px 0px var(--y)
    ,81px 0px var(--y)
    ,90px 0px var(--y)
    ,99px 0px var(--y)
    ,108px 0px var(--b)
    ,117px 0px var(--b)
    ,126px 0px var(--b)
    /* row 1 */
    ,-99px 9px var(--b)
    ,-90px 9px var(--y)
    ,-81px 9px var(--y)
    ,-72px 9px var(--y)
    ,-63px 9px var(--y)
    ,-54px 9px var(--y)
    ,-45px 9px var(--y)
    ,-36px 9px var(--b)
    ,-36px 9px var(--b)
    ,-27px 9px var(--y)
    ,-18px 9px var(--y)
    ,-9px 9px var(--y)
    ,0px 9px var(--y)
    ,9px 9px var(--y)
    ,18px 9px var(--y)
    ,27px 9px var(--y)
    ,36px 9px var(--y)
    ,45px 9px var(--y)
    ,54px 9px var(--y)
    ,63px 9px var(--y)
    ,72px 9px var(--y)
    ,81px 9px var(--y)
    ,90px 9px var(--y)
    ,99px 9px var(--y)
    ,108px 9px var(--b)
    /* row 2 */
    ,-90px 18px var(--b)
    ,-81px 18px var(--y)
    ,-72px 18px var(--y)
    ,-63px 18px var(--y)
    ,-54px 18px var(--y)
    ,-45px 18px var(--y)
    ,-36px 18px var(--y)
    ,-27px 18px var(--y)
    ,-18px 18px var(--y)
    ,-9px 18px var(--y)
    ,0px 18px var(--y)
    ,9px 18px var(--y)
    ,18px 18px var(--y)
    ,27px 18px var(--y)
    ,36px 18px var(--y)
    ,45px 18px var(--y)
    ,54px 18px var(--y)
    ,63px 18px var(--y)
    ,72px 18px var(--y)
    ,81px 18px var(--y)
    ,90px 18px var(--y)
    ,99px 18px var(--b)
    /* row 3 */
    ,-81px 27px var(--b)
    ,-72px 27px var(--y)
    ,-63px 27px var(--b)
    ,-54px 27px var(--y)
    ,-45px 27px var(--y)
    ,-36px 27px var(--y)
    ,-27px 27px var(--y)
    ,-18px 27px var(--y)
    ,-9px 27px var(--y)
    ,0px 27px var(--y)
    ,9px 27px var(--y)
    ,18px 27px var(--y)
    ,27px 27px var(--y)
    ,36px 27px var(--y)
    ,45px 27px var(--y)
    ,54px 27px var(--y)
    ,63px 27px var(--y)
    ,72px 27px var(--b)
    ,81px 27px var(--y)
    ,90px 27px var(--b)
    /* row 4 */
    ,-72px 36px var(--b)
    ,-63px 36px var(--y)
    ,-54px 36px var(--y)
    ,-45px 36px var(--y)
    ,-36px 36px var(--y)
    ,-27px 36px var(--y)
    ,-18px 36px var(--y)
    ,-9px 36px var(--y)
    ,0px 36px var(--y)
    ,9px 36px var(--y)
    ,18px 36px var(--y)
    ,27px 36px var(--y)
    ,36px 36px var(--y)
    ,45px 36px var(--y)
    ,54px 36px var(--y)
    ,63px 36px var(--y)
    ,72px 36px var(--y)
    ,81px 36px var(--b)
    /* row 5 */
    ,-71px 45px var(--b)
    ,-63px 45px var(--y)
    ,-54px 45px var(--b)
    ,-45px 45px var(--b)
    ,-36px 45px var(--b)
    ,-27px 45px var(--y)
    ,-18px 45px var(--y)
    ,-9px 45px var(--y)
    ,0px 45px var(--y)
    ,9px 45px var(--y)
    ,18px 45px var(--y)
    ,27px 45px var(--y)
    ,36px 45px var(--y)
    ,45px 45px var(--b)
    ,54px 45px var(--b)
    ,63px 45px var(--b)
    ,72px 45px var(--y)
    ,81px 45px var(--b)
    /* row 6 */
    ,-81px 54px var(--b)
    ,-72px 54px var(--y)
    ,-63px 54px var(--y)
    ,-54px 54px var(--b)
    ,-45px 54px var(--w)
    ,-36px 54px var(--b)
    ,-27px 54px var(--y)
    ,-18px 54px var(--y)
    ,-9px 54px var(--y)
    ,0px 54px var(--y)
    ,9px 54px var(--y)
    ,18px 54px var(--y)
    ,27px 54px var(--y)
    ,36px 54px var(--y)
    ,45px 54px var(--b)
    ,54px 54px var(--w)
    ,63px 54px var(--b)
    ,72px 54px var(--y)
    ,81px 54px var(--y)
    ,90px 54px var(--b)
    /* row 7 */
    ,-81px 63px var(--b)
    ,-72px 63px var(--y)
    ,-63px 63px var(--y)
    ,-54px 63px var(--b)
    ,-45px 63px var(--b)
    ,-36px 63px var(--b)
    ,-27px 63px var(--y)
    ,-18px 63px var(--y)
    ,-9px 63px var(--y)
    ,0px 63px var(--y)
    ,9px 63px var(--y)
    ,18px 63px var(--y)
    ,27px 63px var(--y)
    ,36px 63px var(--y)
    ,45px 63px var(--b)
    ,54px 63px var(--b)
    ,63px 63px var(--b)
    ,72px 63px var(--y)
    ,81px 63px var(--y)
    ,90px 63px var(--b)
    /* row 8 */
    ,-81px 72px var(--b)
    ,-72px 72px var(--y)
    ,-63px 72px var(--y)
    ,-54px 72px var(--y)
    ,-45px 72px var(--y)
    ,-36px 72px var(--y)
    ,-27px 72px var(--y)
    ,-18px 72px var(--y)
    ,-9px 72px var(--y)
    ,0px 72px var(--b)
    ,9px 72px var(--b)
    ,18px 72px var(--y)
    ,27px 72px var(--y)
    ,36px 72px var(--y)
    ,45px 72px var(--y)
    ,54px 72px var(--y)
    ,63px 72px var(--y)
    ,72px 72px var(--y)
    ,81px 72px var(--y)
    ,90px 72px var(--b)
    /* row 9 */
    ,-90px 81px var(--b)
    ,-81px 81px var(--y)
    ,-72px 81px var(--y)
    ,-63px 81px var(--r)
    ,-54px 81px var(--r)
    ,-45px 81px var(--y)
    ,-36px 81px var(--y)
    ,-27px 81px var(--y)
    ,-18px 81px var(--y)
    ,-9px 81px var(--y)
    ,0px 81px var(--y)
    ,9px 81px var(--y)
    ,18px 81px var(--y)
    ,27px 81px var(--y)
    ,36px 81px var(--y)
    ,45px 81px var(--y)
    ,54px 81px var(--y)
    ,63px 81px var(--r)
    ,72px 81px var(--r)
    ,81px 81px var(--y)
    ,90px 81px var(--y)
    ,99px 81px var(--b)
    /* row 10 */
    ,-90px 90px var(--b)
    ,-81px 90px var(--y)
    ,-72px 90px var(--r)
    ,-63px 90px var(--r)
    ,-54px 90px var(--r)
    ,-45px 90px var(--r)
    ,-36px 90px var(--y)
    ,-27px 90px var(--y)
    ,-18px 90px var(--y)
    ,-9px 90px var(--y)
    ,0px 90px var(--b)
    ,9px 90px var(--b)
    ,18px 90px var(--y)
    ,27px 90px var(--y)
    ,36px 90px var(--y)
    ,45px 90px var(--y)
    ,54px 90px var(--r)
    ,63px 90px var(--r)
    ,72px 90px var(--r)
    ,81px 90px var(--r)
    ,90px 90px var(--y)
    ,99px 90px var(--b)
    /* row 11 */
    ,-90px 99px var(--b)
    ,-81px 99px var(--y)
    ,-72px 99px var(--r)
    ,-63px 99px var(--r)
    ,-54px 99px var(--r)
    ,-45px 99px var(--r)
    ,-36px 99px var(--y)
    ,-27px 99px var(--y)
    ,-18px 99px var(--b)
    ,-9px 99px var(--b)
    ,0px 99px var(--y)
    ,9px 99px var(--y)
    ,18px 99px var(--b)
    ,27px 99px var(--b)
    ,36px 99px var(--y)
    ,45px 99px var(--y)
    ,54px 99px var(--r)
    ,63px 99px var(--r)
    ,72px 99px var(--r)
    ,81px 99px var(--r)
    ,90px 99px var(--y)
    ,99px 99px var(--b)
    /* row 12 */
    ,-81px 108px var(--b)
    ,-72px 108px var(--y)
    ,-63px 108px var(--r)
    ,-54px 108px var(--r)
    ,-45px 108px var(--y)
    ,-36px 108px var(--y)
    ,-27px 108px var(--y)
    ,-18px 108px var(--y)
    ,-9px 108px var(--y)
    ,0px 108px var(--y)
    ,9px 108px var(--y)
    ,18px 108px var(--y)
    ,27px 108px var(--y)
    ,36px 108px var(--y)
    ,45px 108px var(--y)
    ,54px 108px var(--y)
    ,63px 108px var(--r)
    ,72px 108px var(--r)
    ,81px 108px var(--y)
    ,90px 108px var(--b)
    /* row 13 */
    ,-81px 117px var(--b)
    ,-72px 117px var(--b)
    ,-63px 117px var(--y)
    ,-54px 117px var(--y)
    ,-45px 117px var(--y)
    ,-36px 117px var(--y)
    ,-27px 117px var(--y)
    ,-18px 117px var(--y)
    ,-9px 117px var(--y)
    ,0px 117px var(--y)
    ,9px 117px var(--y)
    ,18px 117px var(--y)
    ,27px 117px var(--y)
    ,36px 117px var(--y)
    ,45px 117px var(--y)
    ,54px 117px var(--y)
    ,63px 117px var(--y)
    ,72px 117px var(--y)
    ,81px 117px var(--b)
    ,90px 117px var(--b)
    /* row 14 */
    ,-90px 126px var(--b)
    ,-81px 126px var(--y)
    ,-72px 126px var(--y)
    ,-63px 126px var(--b)
    ,-54px 126px var(--y)
    ,-45px 126px var(--y)
    ,-36px 126px var(--y)
    ,-27px 126px var(--y)
    ,-18px 126px var(--y)
    ,-9px 126px var(--y)
    ,0px 126px var(--y)
    ,9px 126px var(--y)
    ,18px 126px var(--y)
    ,27px 126px var(--y)
    ,36px 126px var(--y)
    ,45px 126px var(--y)
    ,54px 126px var(--y)
    ,63px 126px var(--y)
    ,72px 126px var(--b)
    ,81px 126px var(--y)
    ,90px 126px var(--y)
    ,99px 126px var(--b)
    /* row 15 */
    ,-90px 135px var(--b)
    ,-81px 135px var(--y)
    ,-72px 135px var(--y)
    ,-63px 135px var(--y)
    ,-54px 135px var(--b)
    ,-45px 135px var(--b)
    ,-36px 135px var(--y)
    ,-27px 135px var(--y)
    ,-18px 135px var(--y)
    ,-9px 135px var(--y)
    ,0px 135px var(--y)
    ,9px 135px var(--y)
    ,18px 135px var(--y)
    ,27px 135px var(--y)
    ,36px 135px var(--y)
    ,45px 135px var(--y)
    ,54px 135px var(--b)
    ,63px 135px var(--b)
    ,72px 135px var(--y)
    ,81px 135px var(--y)
    ,90px 135px var(--y)
    ,99px 135px var(--b)
    /* row 16 */
    ,-99px 144px var(--b)
    ,-90px 144px var(--y)
    ,-81px 144px var(--y)
    ,-72px 144px var(--y)
    ,-63px 144px var(--y)
    ,-54px 144px var(--y)
    ,-45px 144px var(--y)
    ,-36px 144px var(--b)
    ,-27px 144px var(--b)
    ,-18px 144px var(--y)
    ,-9px 144px var(--y)
    ,0px 144px var(--y)
    ,9px 144px var(--y)
    ,18px 144px var(--y)
    ,27px 144px var(--y)
    ,36px 144px var(--b)
    ,45px 144px var(--b)
    ,54px 144px var(--y)
    ,63px 144px var(--y)
    ,72px 144px var(--y)
    ,81px 144px var(--y)
    ,90px 144px var(--y)
    ,99px 144px var(--y)
    ,108px 144px var(--b)
    /* row 17 */
    ,-99px 153px var(--b)
    ,-90px 153px var(--y)
    ,-81px 153px var(--y)
    ,-72px 153px var(--y)
    ,-63px 153px var(--y)
    ,-54px 153px var(--y)
    ,-45px 153px var(--y)
    ,-36px 153px var(--y)
    ,-27px 153px var(--y)
    ,-18px 153px var(--y)
    ,-9px 153px var(--y)
    ,0px 153px var(--y)
    ,9px 153px var(--y)
    ,18px 153px var(--y)
    ,27px 153px var(--y)
    ,36px 153px var(--y)
    ,45px 153px var(--y)
    ,54px 153px var(--y)
    ,63px 153px var(--y)
    ,72px 153px var(--y)
    ,81px 153px var(--y)
    ,90px 153px var(--y)
    ,99px 153px var(--y)
    ,108px 153px var(--b)
    /* row 18 */
    ,-99px 162px var(--b)
    ,-90px 162px var(--y)
    ,-81px 162px var(--y)
    ,-72px 162px var(--y)
    ,-63px 162px var(--y)
    ,-54px 162px var(--b)
    ,-45px 162px var(--y)
    ,-36px 162px var(--y)
    ,-27px 162px var(--y)
    ,-18px 162px var(--y)
    ,-9px 162px var(--y)
    ,0px 162px var(--y)
    ,9px 162px var(--y)
    ,18px 162px var(--y)
    ,27px 162px var(--y)
    ,36px 162px var(--y)
    ,45px 162px var(--y)
    ,54px 162px var(--y)
    ,63px 162px var(--b)
    ,72px 162px var(--y)
    ,81px 162px var(--y)
    ,90px 162px var(--y)
    ,99px 162px var(--y)
    ,108px 162px var(--b)
    /* row 19 */
    ,-99px 171px var(--b)
    ,-90px 171px var(--y)
    ,-81px 171px var(--y)
    ,-72px 171px var(--y)
    ,-63px 171px var(--y)
    ,-54px 171px var(--b)
    ,-45px 171px var(--o)
    ,-36px 171px var(--o)
    ,-27px 171px var(--y)
    ,-18px 171px var(--y)
    ,-9px 171px var(--y)
    ,0px 171px var(--y)
    ,9px 171px var(--y)
    ,18px 171px var(--y)
    ,27px 171px var(--y)
    ,36px 171px var(--y)
    ,45px 171px var(--o)
    ,54px 171px var(--o)
    ,63px 171px var(--b)
    ,72px 171px var(--y)
    ,81px 171px var(--y)
    ,90px 171px var(--y)
    ,99px 171px var(--y)
    ,108px 171px var(--b)
    /* row 20 */
    ,-90px 180px var(--b)
    ,-81px 180px var(--y)
    ,-72px 180px var(--y)
    ,-63px 180px var(--b)
    ,-54px 180px var(--b)
    ,-45px 180px var(--o)
    ,-36px 180px var(--o)
    ,-27px 180px var(--o)
    ,-18px 180px var(--o)
    ,-9px 180px var(--o)
    ,0px 180px var(--o)
    ,9px 180px var(--o)
    ,18px 180px var(--o)
    ,27px 180px var(--o)
    ,36px 180px var(--o)
    ,45px 180px var(--o)
    ,54px 180px var(--o)
    ,63px 180px var(--b)
    ,72px 180px var(--b)
    ,81px 180px var(--y)
    ,90px 180px var(--y)
    ,99px 180px var(--b)
    /* row 21 */
    ,-81px 189px var(--b)
    ,-72px 189px var(--b)
    ,-63px 189px var(--b)
    ,-54px 189px var(--o)
    ,-45px 189px var(--o)
    ,-36px 189px var(--o)
    ,-27px 189px var(--o)
    ,-18px 189px var(--o)
    ,-9px 189px var(--o)
    ,0px 189px var(--o)
    ,9px 189px var(--o)
    ,18px 189px var(--o)
    ,27px 189px var(--o)
    ,36px 189px var(--o)
    ,45px 189px var(--o)
    ,54px 189px var(--o)
    ,63px 189px var(--o)
    ,72px 189px var(--b)
    ,81px 189px var(--b)
    ,90px 189px var(--b)
    /* row 22 */
    ,-81px 198px var(--b)
    ,-72px 198px var(--o)
    ,-63px 198px var(--o)
    ,-54px 198px var(--b)
    ,-45px 198px var(--b)
    ,-36px 198px var(--b)
    ,-27px 198px var(--o)
    ,-18px 198px var(--o)
    ,-9px 198px var(--o)
    ,0px 198px var(--o)
    ,9px 198px var(--o)
    ,18px 198px var(--o)
    ,27px 198px var(--o)
    ,36px 198px var(--o)
    ,45px 198px var(--b)
    ,54px 198px var(--b)
    ,63px 198px var(--b)
    ,72px 198px var(--o)
    ,81px 198px var(--o)
    ,90px 198px var(--b)
    /* row 23 */
    ,-72px 207px var(--b)
    ,-63px 207px var(--o)
    ,-54px 207px var(--o)
    ,-45px 207px var(--o)
    ,-36px 207px var(--o)
    ,-27px 207px var(--b)
    ,-18px 207px var(--b)
    ,-9px 207px var(--b)
    ,0px 207px var(--b)
    ,9px 207px var(--b)
    ,18px 207px var(--b)
    ,27px 207px var(--b)
    ,36px 207px var(--b)
    ,45px 207px var(--o)
    ,54px 207px var(--o)
    ,63px 207px var(--o)
    ,72px 207px var(--o)
    ,81px 207px var(--b)
    /* row 24 */
    ,-81px 216px var(--b)
    ,-72px 216px var(--o)
    ,-63px 216px var(--o)
    ,-54px 216px var(--b)
    ,-45px 216px var(--o)
    ,-36px 216px var(--o)
    ,-27px 216px var(--b)
    ,36px 216px var(--b)
    ,45px 216px var(--o)
    ,54px 216px var(--o)
    ,63px 216px var(--b)
    ,72px 216px var(--o)
    ,81px 216px var(--o)
    ,90px 216px var(--b)
    /* row 25 */
    ,-72px 225px var(--b)
    ,-63px 225px var(--b)
    ,-45px 225px var(--b)
    ,-36px 225px var(--b)
    ,45px 225px var(--b)
    ,54px 225px var(--b)
    ,72px 225px var(--b)
    ,81px 225px var(--b)
    ;
    animation: run 0.25s linear infinite;
}