.sprintHealth {
    padding-right: 2.5%;
    height: 100%;
}

@media only screen and (max-width: 1279px) {
    .sprintHealth {
    padding-right: 0;
    padding-bottom: 5%;
    }        
}

@media only screen and (max-width: 960px) {
    #managementChartsContainer {
        flex-direction: column;
    }      
}


.widgetsSection {
    height: 85%;
    margin: 1.5% 0;
    padding: 2% 3%;
    justify-content: space-between;
    align-self: center
}


.ReportedHoursTable {
    height: 85%;
    width: 90%;   
}

.upperSection, .lowerSection, #sprintHealthPaper, #capacity, #capacityPaper, #sprintHealthItem, #TasksProgressDiagramItem{
    width: 100% !important;
    max-width: 100% !important; 
}

#sprintHealthPaper {
    position: relative;
}

.upperSection, .lowerSection {
    height: 50%;
}

.upperSection {
    justify-content: space-between;
}