#userInfoGrid {
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
    padding-top: 1%;
}
#userIcon {
    font-size: 29px;

}
#dateGrid {
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 5%;
    padding-top: 1%;
}
#name{
    padding-top: 1.5%;
    padding-right: 1%;
    font-size: large;
    max-width: 100%;
    width:100%;
    text-align: right;
}
#date {
    padding-top: 18%;
    padding-left: 1%;
    max-width: 100%;
}
#buildCardActionArea{
    height: 100%;  
    width: 100%; 
    padding: 0%;
}
#previousBuilds {
    padding-bottom: 4% !important;
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
}
#rightDataContainer {
    justify-content: center;
    max-width: 100%;
}
#lastBuildResultsTitle {
    justify-content: flex-end;
    max-width: 100%;
    display: flex;
}
#previous {
    height: 60% !important;
}