  .defaultIcon {
    background-color: white;
    z-index: 1;
    margin-top:0.25em;
    width: 4.2vh;
    height: 4.2vh;
    display: flex;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: #adb5c5;
    border-width: 0.5px;
  }

  .completed {
    display: inline-block;
  }

  .active {
    /* background-image: linear-gradient( 136deg, rgb(242,113,33) 0%, rgb(233,64,87) 50%, rgb(138,35,135) 100%); */
    /* background-color: rgb(126, 172, 218); */
    /* background-image: linear-gradient(45deg, rgb(44, 56, 90) 30%, rgb(68, 71, 109) 90%); */
    background-color: #4b7197;
    box-shadow: 0 0.5vh 1.2vh 0 rgba(0, 0, 0, .25);
    z-index: 2;
    color: white;
    ;
  }