#warningIcon {
    color: #B61212;
    font-size: calc(2.3vw + 51px);
}

.bugsGridList {
    width: 100%;
    height: 100%;
    direction: ltr;
    display: block !important;
}
 
.bugCell {
    height: 90%;
}

.bugTile {
    padding: 8.5px 18px !important;
    height: unset !important;
}