#ServiceBuildsResults {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}


.failedClass {
    color: #B61212;
}

.successClass {
    color: #37BC37;
}

.flexed-title {
    display: flex;
    flex-direction: row;
    line-height: 1.5;
    margin-block-start: 0;
    margin-block-end: 0;
    width: 90%;
}

.buildsResultTitle {
    font-size: calc(16px + 1vw);
    font-weight: lighter;
}

#numOfServices {
    font-size: calc(16px + 1vw);
    margin-left: 2%;
}

#rectBuilds {
    width: 95%;
    height: 100%;
    max-height: 100%;
    padding: 2%;
    padding-top: 3%;
}

.rectBuildsfailed {
    background-color: #FDBFBF;
}

.rectBuildssuccess {
    background-color: #A9ECA9;
}

.oneBuildResult {
    display: flex;
    opacity: 1;
    flex-direction: column;
    height: 90%
}

.serviceGridList {
    display: block !important;
    overflow-x: hidden;
    height: 100%;
    direction: ltr;
}

#serviceLastBuild {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 90%;
}

.icon-margin-size {
    font-size: calc(0.8vw + 16px) !important;
    margin: 2%;
}

#div-over-rect {
    overflow-y:hidden;
    width: 95%;
    height: 100%;
    border-radius:15px;
}

@media only screen and (max-width: 1279px) {
    #div-over-rect {
        min-height:263px;
    }
}