

.WelcomePage {
    height: 100%;
    width: 100%;
    background-image: url(../../assets/unity_background2.0_mobile.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  
}
#unity-home-page-part1 {
    color: white;
    font-weight: '0';
    font-family: Calibri;
    margin-left:50%;
    padding-top:4.5%;
    font-size: 3rem;
    line-height: 1;
}
#unity-home-page-part2 {
    color: white;
    font-weight: 200;
    font-family: Calibri;
    margin-left:58.5%;
    font-size:10rem;
    line-height: 1;
}
#unity-home-page-part3 {
    color: white;
    font-weight: 200;
    font-family: Calibri;
    margin-left:59%;
    font-size:3.5rem;
    line-height: 1;
}

@media only screen and  (max-width: 960px) {
    #unity-home-page-part1 {
        padding-top:15%;
        font-size:2rem;
    }
    #unity-home-page-part2 {
        margin-left:59%;
        font-size:7rem;
    }
    #unity-home-page-part3 {
        margin-left:59.5%;
    }
}
@media only screen and (max-width: 750px) {
    #unity-home-page-part1 {
        margin-left:20%;
        padding-top:15%;
        font-size:1.5rem;
    }
    #unity-home-page-part2 {
        margin-left:35%;
        font-size:4rem;
        line-height: 1;
    }
    #unity-home-page-part3 {
        font-size:2rem;
        margin-top:1%;
        margin-left:36%;
    }
}

.cardCell {
    width: 100%;
    height: 100%;
}

#cardsContainer {
    padding-top: 5%;
    justify-content: center;
}

#welcomePageContainer {
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
