.BreadCrumbs {
    width: 100%;
    height: 100%;
    background-color: #1E9EF2;
    color: ghostwhite;
    text-align: right;
    vertical-align: middle;
}

span#tree {
    line-height: 280%;
    margin-right: 2%;
}

span a {
    color: ghostwhite;
    text-decoration: none;
}

#filterByProject {
    float: left;
    padding-top: 0.5%;
    padding-left: 0.5%;
    width: 60%;
    text-align: left;
}

.chip {
    margin-right: 0.7% !important;
    height: 24px !important;
 }

.MuiChip-clickableColorPrimary {
    background-color: #fff;
    color: #605D5D;
}
 .chip span {
     padding-left: 8px !important; 
     padding-right: 8px !important; 
 }

 @media only screen and (max-width: 1279px) {
    #filterByProject {
        display: none;
    }
    .BreadCrumbs {
        height: 56px;
    }
}
