.BuildsContainer{
    width: 100%;
    height: 100%;
    display: 'flex';
    overflow: 'hidden';
    background-color: white;
}

.gridList {
    width: 100%;
    height: 100%;
}
 
.buildCell { 
    height: 90%; 
    padding: 1% 5%;
}
