/*fonts*/
@font-face {
  font-family: 'Calibri';
  font-style: normal;
  font-weight: 400;
  src:
      local('Calibri'),
      url(./fonts/CALIBRI.TTF) format('truetype')
}

@font-face {
  font-family: 'Calibri-light';
  font-style: normal;
  font-weight: 400;
  src:
      local('Calibri-light'),
      url(./fonts/CALIBRIL.TTF) format('truetype')
}

@font-face {
  font-family: 'Nirmala-ui';
  font-style: normal;
  font-weight: 400;
  src:
      local('Nirmala-ui'),
      url(./fonts/NIRMALA.TTF) format('truetype')
}

/* Css for the whole app*/
html, body, #root, .App {
  height: 100%;
  scroll-behavior: smooth;
  font-family: "Calibri";
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.App {
  height: 100%;
}

#wholeAppPage {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#nav {
  z-index: 3;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.navbar {
  background-color: #290c34;
  height: 70px;
  color: white;
  font-size: 40px;
}

.mainPage {
  height: auto;
  flex: 2;
  display: block;
}

/* Refers to only pages with info (not including the welcome page)- uses in the pages themselves */
.infoPage {
  background-color: #EFF1F6;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.infoPageMainContent {
  height: 100%;
  flex: 1;
}

.MuiAppBar-positionFixed-2 {
  position: sticky !important;
}

@media only screen and (min-width: 600px){
  #nav {
    min-height: 64px !important;
  }
}

@media only screen and (min-width: 0px) and (orientation: portrait) {
  #nav {
      min-height: 48px !important;
  }
}


/*
 *  Default Scroll bar configuration - Style Blue
 */

 ::-webkit-scrollbar-track
 {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   background-color: #ddd;
 }
 
 ::-webkit-scrollbar
 {
   width: 10px;
   background-color: #ddd;
 }
 
 ::-webkit-scrollbar-thumb
 {
   background-color: #44AEFF;
   
   /* background-image: -webkit-gradient(linear, 0 0, 0 100%,
                      color-stop(.5, rgba(255, 255, 255, .2)),
              color-stop(.5, transparent), to(transparent)); */
 }

/* 
 *  Secondary Scroll bar configuration - Style black (manual insertion with black-scroll-bar class)
 */
 .black-scroll-bar::-webkit-scrollbar {
  width: 8px;
}
 
.black-scroll-bar::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 20px;
}

.black-scroll-bar::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 20px;
}