#SprintHealthComponent {
  max-height: 100%;
  height: 100%;
  align-items: center;
}

#sprintHealthStatusNumber {
    border-radius: 12px;
    width: max-content;
    padding: 0% 2%;
}

#needle {
  width: 0.5rem;
  height: 7rem;
  background: #999999;
  /* border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; */
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  display: inline-block;
  left: 8.8vw;
  position: absolute;
  top: 4.1vw;
  /* -webkit-animation: move 5s infinite; */
  transform: rotate(0deg);
  transform-origin: bottom;
}

#overbook {
  position: absolute;
  top: 12rem;
  left: 1rem;
  width: 100%;
}

#underbook {
  position: absolute;
  top: 12rem;
  left: -2rem;
}

#sprintHealthStatus {
  text-align: center;
  font-size: calc(14px + 0.5vw);
  font-weight: bold;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 2rem;
}

@media only screen and (min-width: 2000px) {
  #SprintHealthComponent {
    padding-top: 5rem;
  }
  #needle {
    height: 8rem;
    top: 2.9vw;
    left: 9vw;
  }
  #overbook {
    position: absolute;
    top: 13rem;
    left: -1rem;
  }

  #underbook {
    position: absolute;
    top: 13rem;
    left: 1rem;
  }
}

@media only screen and (max-width: 1550px) {
  #needle {
    height: 6rem;
    top: 5.1vw;
  }
  #overbook {
    position: absolute;
    top: 11rem;
    left: 2rem;
  }

  #underbook {
    position: absolute;
    top: 11rem;
    left: -2rem;
  }
}

@media only screen and (max-width: 1280px) {
  #needle {
    height: 7rem;
    top: 6.5vw;
    left: 13.5vw;
  }
  #overbook {
    position: absolute;
    top: 12rem;
    left: 1.5rem;
  }

  #underbook {
    position: absolute;
    top: 12rem;
    left: -1.5rem;
  }
}
#sprintHealthStatus {
  margin-top: 1rem;
}

@media only screen and (max-width: 960px) {
  #needle {
    height: 7rem;
    top: 9.5vw;
    left: 27.5vw;
  }
  #overbook {
    top: 12.5rem;
    left: -3.5rem;
  }

  #underbook {
    top: 12.5rem;
    left: 3.5rem;
  }

  #sprintHealthStatus {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 800px) {
  #needle {
    top: 10.5vw;
    left: 21vw;
  }
  #overbook {
    top: 12rem;
    left: 1.5rem;
  }

  #underbook {
    top: 12rem;
    left: -1.5rem;
  }
  #SprintHealthComponent {
    margin-right: 25%;
  }
}

@media only screen and (max-width: 700px) {
  #needle {
    top: 10vw;
  }

  #overbook {
    top: 11.5rem;
    left: 2rem;
  }

  #underbook {
    top: 11.5rem;
    left: -2rem;
  }
}

@media only screen and (max-width: 600px) {
  #needle {
    height: 6rem;
    top: 12vw;
  }
  #overbook {
    top: 11rem;
    font-size: small;
  }

  #underbook {
    top: 11rem;
    font-size: small;
  }
  #sprintHealthStatus {
    margin-top: 0rem;
  }
}

@media only screen and (max-width: 400px) {
  #needle {
    height: 4rem;
    top: 22.5vw;
    left: 20.5vw;
  }
  #overbook {
    top: 9.5rem;
    font-size: x-small;
  }

  #underbook {
    top: 9.5rem;
    font-size: x-small;
  }
  #sprintHealthStatus {
    margin-top: -2rem;
  }
}

@media only screen and (max-width: 350px) {
  #needle {
    height: 3.5rem;
    top: 25.5vw;
    left: 20vw;
  }
}

@media only screen and (max-width: 280px) {
  #needle {
    height: 3.5rem;
    top: 32.25vw;
  }
}