.sprintStatusWidget {
    max-width: 100%;
    padding-bottom: 2rem;
}

.lowSectionOfWidget {
    height: 77%;
}
 
.summaryWidget {
    height: 100%;
}

.summaryIconDiv {
    margin-block-start: 0;
    margin-block-end: 0;
    vertical-align: bottom;
    padding-right: 2%;
    padding-top: 3%;
}

#clockIcon {
    color: lightgray;
    font-size: calc(2.3vw + 51px);
}

.summary-title-padding {
    margin-right: 4% !important;
}

.flexed-div {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 1279px) {
    .summaryWidget {
        height: 470px;
        padding-bottom: 20px;
        margin-top: 4% !important;
    }
    .sprintStatusWidget {
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
    .lowSectionOfPage {
        height: 79% !important;
    }
}  

@media only screen and (max-width: 1279px) and (min-width: 960px) {
    #monitorSummaryWidget {
        padding-right: 2%
    }
    #bugsSummaryWidget {
        padding-left: 2%
    }
}  

@media only screen and (max-width: 600px) {

    .sprintStatusWidget {
        padding-top: 0rem;
        padding-bottom: 1rem;
    }
}  


#sprintDaysDiv  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80% !important;
}

#progressBarSprint {
    margin: 1% 1%;
    margin-top: 1.5%;
    margin-left: 1%;
    width: 80%;
    float: left;
    padding-top: 1.6%;
}

#sprintDays {
    width: 20%;
}

#numOfDaysLeft {
    font-size: calc(2vw + 8px);
    color: #44AEFF;
    font-family: "Calibri";
    margin-block-start: 0;
    margin-block-end: 0;
    margin-left: 1%;
    display: inline !important;
}

.lowSectionOfPage {
    height: 70vh;
    justify-content: space-between;
}
